.ngdialog.ngdialog-daily-bonus {

  .ngdialog-content {
    width: 650px;
    padding: 30px 50px;
  }

  .bonus-message {
    margin-right: 20%;
  }
  .ngdialog-close{
    border: none;
    box-shadow: none;
    padding: 0;
    outline: none;
    &:before{
      color: #0b62a9;
    }
    &:hover{
      border: none;
    }
  }
   button{
    border-radius: 3px;
    border:1px solid #0b62a9;
    background: #0b62a9;
    color: #ffffff;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    &:hover{
      border:1px solid #0b62a9;
      background: #ffffff;
      color: #0b62a9;
    }
  }
  p {
    font-size: 14px;
  }
  h2{
    color: rgb(78, 86, 103);
  }
  .bonus-list {
    height: 170px;
    display: flex;
    align-items: flex-end;
    // justify-content: space-between;
    margin: 0 -2.5px;

    > div {
      flex: 1;
    }
  }

  .day-bonus {
    text-align: center;
    margin: 0 2.5px;
    background: #ffffff;
    > div {
      margin: 15px 0px;
    }

    h5,
    h6 {
      margin: 0;
      line-height: 1;
    }

    h3 {
      margin: 0;
      line-height: 50px;
      background-color: #c3c3c3;
      color: #fff;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }

    i {
      font-size: 50px;
      display: block;
      margin: 15px 0;
    }
    .icon-money{
      &:before{
        color: #00b100;
      }
    }
    .icon-credit-card{
      &:before{
        color: #fdc02e;
      }
    }

    hr {
      width: 70%;
    }

    &.active {
      h3 {
        background-color: #0097ef;
      }
    }
  }

  footer {
  }

}
