.ngdialog.ngdialog-player-auction {

  .ngdialog-content {
    width: 750px;
    // height: 500px;
  }

  .manager-content.player-manager-general {
    padding: 20px;
    width: 300px;
  }

  .manager-menu {
    margin-top: 50px;
  }

}
