auction-player {
  display: block;
  position: relative;
  padding: 10px;
  border: 1px solid #999;
  overflow: hidden;
  background: #fff;

  .auction-player {
    display: flex;
    justify-content: space-between;
  }

  .player-picture {
    flex: 1;
    img {
      height: 100px;
    }
  }

  .player-badges {
    flex: 1;
    text-align: center;

    display: flex;
    justify-content: center;
    flex-direction: column;

    .icon-ban {
      font-size: 30px;
      line-height: 1;
      color: #999;
    }

    p:last-child {
      margin-bottom: 0px;
    }

    img {
      display: inline;
    }
  }

  .player-details {
    flex: 3;

    p {
      margin-bottom: 12px;
      line-height: 1;
      font-weight: 500;
    }
    p:last-child {
      margin-bottom: 0px;
    }

    &.-position {
      &-1 .player-position {
        color: #ff9c00;
      }
      &-2 .player-position {
        color: #00a7ff;
      }
      &-3 .player-position {
        color: #7f7f7f;
      }
      &-4 .player-position {
        color: #006600;
      }
      &-5 .player-position {
        color: #db2d2d;
      }
    }
    i {
      margin-right: 5px;
    }
  }

  .status {
    position: absolute;
    top: 18px;
    margin: 0;
    transform: rotateZ(-45deg);
    background: #36c147;
    left: -30px;
    font-size: 13px;
    padding: 4px;
    width: 120px;
    text-align: center;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
    text-shadow: 1px 1px 5px #333;
  }

  &.is-bid {
    cursor: pointer;

    .status {
      background: #0071d1;
    }
  }

  &.is-covered {
    .status {
      background: #ec9713;
    }
  }
}
