.structure {
  margin: 10px;
  .structure-menu {
    // padding: 10px;
    float: right;
    button {
      border: 0;
      padding: 5px 10px;
      &.active {
        background: orange;
      }
    }
  }
  h2 {
    margin: 0;
  }
}

