.ngdialog.ngdialog-main-trophy {

  .ngdialog-content {
    width: 750px;
  }

  .trophy {
    // line-height: 150px;
    padding: 20px 20px;
    text-align: center;
    height: 240px;
    display: block !important; // fix: slick inline display

    > div {
      background: white;
      padding: 20px 0;
      box-shadow: 0 12px 20px -11px rgba(0,0,0,0.4);
      height: 100%;
    }

    h4 {
      margin-top: 20px;
    }

    .list-inline {
      display: inline-block;
    }

    .dots {
      pointer-events: none;
      li {
        padding: 0;
      }
      li button {
        background: transparent;
        border: 0;
        padding: 0;
      }
      li:not(.slick-active) {
        display: none;
      }
    }

    .no-trophies {
      // height: 100%;
      padding: 70px 40px;
    }
  }

  // .main-trophy-nav {
  //   li:not(.slick-active) {
  //     display: none;
  //   }
  // }

  footer {
  }

}
