.ranking {
  padding: 15px;
  background-color: #cbdaef;

  header :first-child {
    margin-top: 0;
  }

  .ranking-search {
    display: flex;
    justify-content: space-between;
    align-items: center;

    hr {
      height: 15px;
      margin: 0;
      border-left: 1px solid;
    }
  }

}

