.ranking {
  padding: 15px;
  background-color: #cbdaef;

  header > :first-child {
    margin-top: 0;
  }

  .ranking-search {
    display: flex;
    justify-content: space-between;
    align-items: center;

    hr {
      height: 15px;
      margin: 0;
      border-left: 1px solid;
    }

    .checkbox-inline label {
      margin: 0;
      cursor: pointer;
    }
  }
  .ranking-table {

     tr:nth-of-type(even) {
        background: #eee;
     }

     tr.spacer {
      height: 40px;
     }

    .team-picture {
      object-fit: cover;
      image-rendering: pixelated;
    }
  }

}

