.ngdialog.ngdialog-junior-draft {

  .ngdialog-content {
    width: 750px;
  }

  h3,
  h4 {
    margin-top: 0;
  }

  .draft-scouts {
    // float: left;
    // width: 50%;
    border: 1px solid;
    // margin-right: 5%;
    font-size: 16px;

    height: 160px;
    // display: flex;
    // align-items: center;

    p {
      text-align: center;
      margin: 0;
      padding: 60px 50px 50px;
    }

    .select-scouts {
      cursor: pointer;
    }

    .scout-detail {
      padding: 10px;
      position: relative;
      // font-size: 16px;

      .scout-picture {
        float: left;
        // margin-right: 5px;
        .scout-change {
          display: block;
          width: 90px;
          margin-top: 15px;
          text-align: center;
        }
      }
      .scout-remove{
        position: absolute;
        right: 2px;
        top: 2px;
        border: 0;
        padding: 2px 2px;
        font-size: 8px;
        line-height: 1;
      }

      dl {
        margin: 0px;
        padding-left: 15px;
        overflow: auto;
        // float: left;
        // width: 100%;
      }
      dt,
      dd {
        font-size: 14px;
        // line-height: 1.7;
        margin-bottom: 4px;
      }
      dt {
        clear: both;
        float: left;
        // width: 50%;
        i {
          margin-right: 5px;
        }
      }
      dd {
        float: right;
        margin: 0;
        // width: 50%;
        text-align: right;
      }

      // .scout-remove {
      //   position: absolute;
      //   top: -20px;
      //   right: 0;
      //   // width: 100%;
      //   // height: 100%;
      //   cursor: pointer;

      //   border: 0;
      //   background: transparentize(red, .9);

      //   font-size: 90px;
      //   color: transparentize(red, .0);
      //   // text-align: right;

      //   &:not(:hover) {
      //     // opacity: 0;
      //   }
      // }

    }
  }

  .new-draft {
    // float: left;
    // width: 45%;
    // margin-left: 5%;

    dl {
      // overflow: auto;
    }

    dt,
    dd {
      float: left;
      width: 50%;
      // margin: 0;
      line-height: 2;
    }
    dd {
      text-align: right;
      select {
        width: 100%;
      }
    }

    footer {
      margin-top: 10px;
    }
  }

  .draft-players {
    margin-top: 30px;
  }

  .no-players {
    text-align: center;
    padding: 50px;
    border: 1px solid;
  }

  .player-recruit {
    margin-top: 10px;
  }

}
