<h2>Peneira</h2>

<div style="overflow: auto;">
  <div class="draft-scouts">
    <p ng-if="$ctrl.juniorDraft.TimeToNewDraft">Você não pode realizar uma nova peneira ainda</p>
    <p ng-if="$ctrl.juniorDraft.TimeToShowDraft">Aguarde o liberação da peneira em curso</p>
    <p ng-if="!$ctrl.juniorDraft.TimeToShowDraft && !$ctrl.juniorDraft.TimeToNewDraft">
      Melhore sua peneira contratando um olheiro!
    </p>
  </div>

  <div class="new-draft">
    <h3>Peneira de jogadores</h3>
    <dl>
      <dt ng-if="$ctrl.juniorDraft.TimeToNewDraft">Nova peneira em</dt>
      <dd ng-if="$ctrl.juniorDraft.TimeToNewDraft">{{$ctrl.juniorDraft.TimeToNewDraft | date:'short'}}</dd>
    <dl>
      <dt ng-if="$ctrl.juniorDraft.TimeToShowDraft">Resultado em</dt>
      <dd ng-if="$ctrl.juniorDraft.TimeToShowDraft">{{$ctrl.juniorDraft.TimeToShowDraft | date:'short'}}</dd>
      <dt ng-if="!$ctrl.juniorDraft.TimeToShowDraft && !$ctrl.juniorDraft.TimeToNewDraft">Posição</dt>
      <dd ng-if="!$ctrl.juniorDraft.TimeToShowDraft && !$ctrl.juniorDraft.TimeToNewDraft">
        <select>
          <option>Todas</option>
        </select>
      </dd>
    </dl>
    <p ng-if="!$ctrl.juniorDraft.TimeToShowDraft && !$ctrl.juniorDraft.TimeToNewDraft">
      <button>Realizar peneira</button> |
      <i class="icon-money"></i>
      {{$ctrl.juniorDraft.DraftCost | currency}}
    </p>
    <p ng-if="$ctrl.juniorDraft.TimeToShowDraft">
      <button>Liberar resultados</button> |
      <i class="icon-credit-card"></i>
      {{$ctrl.juniorDraft.PriceToInstantDraft}}
    </p>
  </div>
</div>

<div class="draft-players">
  <span style="float: right;">{{$ctrl.juniorDraft.CurrentTeamPlayers}} / {{$ctrl.juniorDraft.TeamPlayerCapacity}} jogadores no CT</span>
  <h3>Jogadores encontrados</h3>
  <junior-table players="$ctrl.juniorDraft.Players" current-player="$ctrl.currentPlayer"></junior-table>
  <p ng-if="!$ctrl.juniorDraft.Players.length" class="no-players">Você não tem jogadores na peneira</p>
  <button class="plyer-recruit" ng-if="$ctrl.juniorDraft.Players.length">Recrutar</button>
</div>
