<h2>Peneira</h2>

<div style="overflow: auto;">
  <div class="draft-scouts">
    <p ng-if="$ctrl.juniorDraft.TimeToNewDraft">Você não pode realizar uma nova peneira ainda</p>
    <p ng-if="$ctrl.juniorDraft.TimeToShowDraft">Aguarde o liberação da peneira em curso</p>
    <div ng-if="!$ctrl.juniorDraft.TimeToShowDraft && !$ctrl.juniorDraft.TimeToNewDraft">
      <div ng-if="$ctrl.currentScout" class="scout-detail">
        <div class="scout-picture">
          <img ng-src="{{$ctrl.currentScout.Picture}}" height="80">
          <button ng-click="$ctrl.currentScout=null" class="scout-remove">Remover<br>Olheiro</button>
        </div>
        <dl>
          <dt>Olheiro</dt>
          <dd>{{$ctrl.currentScout.Name}}</dd>
          <dt>Olhar técnico</dt>
          <dd>{{$ctrl.currentScout.MeansScoutBonus*10}}</dd>
          <dt>Jogadores extras</dt>
          <dd>{{$ctrl.currentScout.TeamPlayerBonus}}</dd>
          <dt>Tempo de pesquisa</dt>
          <dd>{{$ctrl.currentScout.ReleaseTimeBonus}}%</dd>
          <dt><i class="icon-credit-card"></i> {{$ctrl.currentScout.CreditCost}}</dt>
          <dt><i class="icon-money"></i> {{$ctrl.currentScout.MoneyCost | currency}}</dt>
        </dl>
      </div>
      <p ng-if="!$ctrl.currentScout" class="select-scouts" ng-click="$ctrl.juniorScouts()">
        Melhore sua peneira contratando um olheiro!
      </p>
    </div>
  </div>

  <div class="new-draft">
    <h3>Peneira de jogadores</h3>
    <dl>
      <dt ng-if="$ctrl.juniorDraft.TimeToNewDraft">Nova peneira em</dt>
      <dd ng-if="$ctrl.juniorDraft.TimeToNewDraft">{{$ctrl.juniorDraft.TimeToNewDraft | date:'short'}}</dd>
    <dl>
      <dt ng-if="$ctrl.juniorDraft.TimeToShowDraft">Resultado em</dt>
      <dd ng-if="$ctrl.juniorDraft.TimeToShowDraft">{{$ctrl.juniorDraft.TimeToShowDraft | date:'short'}}</dd>
      <dt ng-if="!$ctrl.juniorDraft.TimeToNewDraft">Posição</dt>
      <dd ng-if="!$ctrl.juniorDraft.TimeToNewDraft">
        <select ng-model="$ctrl.idPosition" ng-disabled="$ctrl.juniorDraft.TimeToShowDraft">
          <option ng-value="">allF</option>
          <option ng-value="1">TeamPlayerPosition_Goleiro</option>
          <option ng-value="2">TeamPlayerPosition_Zagueiro</option>
          <option ng-value="3">TeamPlayerPosition_Lateral</option>
          <option ng-value="4">TeamPlayerPosition_MeioCampo</option>
          <option ng-value="5">TeamPlayerPosition_Atacante</option>
        </select>
      </dd>
    </dl>
    <footer>
      <p ng-if="!$ctrl.juniorDraft.TimeToShowDraft && !$ctrl.juniorDraft.TimeToNewDraft">
        <button ng-click="$ctrl.makeADraft($ctrl.idPosition)">Realizar peneira</button> |
        <i class="icon-money"></i>
        {{$ctrl.juniorDraft.DraftCost | currency}}
      </p>
      <p ng-if="$ctrl.juniorDraft.TimeToShowDraft">
        <button ng-click="$ctrl.instantDraft()">Liberar resultados</button> |
        <i class="icon-credit-card"></i>
        {{$ctrl.juniorDraft.PriceToInstantDraft}}
      </p>
    </footer>
  </div>
</div>

<div class="clearfix draft-players">
  <span class="pull-right">{{$ctrl.juniorDraft.CurrentTeamPlayers}} / {{$ctrl.juniorDraft.TeamPlayerCapacity}} jogadores no CT</span>
  <h3>Jogadores encontrados</h3>
  <junior-table players="$ctrl.juniorDraft.Players" current-player="$ctrl.currentPlayer"></junior-table>
  <p ng-if="!$ctrl.juniorDraft.Players.length" class="no-players">Você não tem jogadores na peneira</p>
  <button class="btn btn-primary pull-right player-recruit" ng-if="$ctrl.juniorDraft.Players.length" ng-click="$ctrl.draftToJunior()">Recrutar</button>
</div>
