<slick infinite=true slides-to-show=3 slides-to-scroll=3 rows=2 prev-arrow=false next-arrow=false settings="$ctrl.slickConfig">
  <item value="item" ng-repeat="item in $ctrl.storeList.TeamPlayerItems | filter:$ctrl.filter"></item>
</slick>

<div class="slide-control">
  <button ng-click="$ctrl.slickConfig.method.slickPrev()">«</button>
  {{$ctrl.currentSlide}} / {{($ctrl.storeList.TeamPlayerItems.length+2)/6 | number:0}}
  <button ng-click="$ctrl.slickConfig.method.slickNext()">»</button>
</div>

<button ng-click="$ctrl.setFilter({Category: 13})">filter</button>
