<div class="main">

  <div class="clearfix main-header">
    <div class="pull-right submenu">
      <button class="btn btn-xs btn-primary" ng-click="$ctrl.config()"><i class="icon-wrench"></i></button>
      <button class="btn btn-xs btn-primary" ng-click="$ctrl.teamTrophyRoom()"><i class="icon-trophy"></i></button>
      <button class="btn btn-xs btn-primary" ng-click="$ctrl.stats()"><i class="icon-graph-bar"></i></button>
      <button class="btn btn-xs btn-primary" ng-click="$ctrl.dailyBonus()"><i class="icon-star-circled"></i></button>
      <button
        ng-dialog="bug-report.html"
        ng-dialog-append-class="ngdialog-bug-report"
        class="btn btn-xs btn-primary"><i class="icon-bug"></i></button>
    </div>
    <h2 translate>TeamPreview.lblTitle</h2>
  </div>

  <div class="row main-body">

    <div class="col-xs-6 body-item">

      <div class="detail-manager">

        <h3>{{$appCtrl.user.TeamName}}</h3>

        <div class="shield">
          <img ng-src="{{$appCtrl.teamPreview.Badge}}" style="float: left;">
        </div>

        <div class="manager">
          <h4>Detalhes do Manager</h4>
          <img ng-src="{{$appCtrl.userData.picture}}" style="float: left; margin-right: 5px;" height="30">
          <h5 style="margin-bottom: 0; ">{{$appCtrl.userData.userName}}</h5>
          <img ng-src="https://o2games-golaco.s3.amazonaws.com/flags/{{$appCtrl.user.IdCountry}}.jpg" height="10">
        </div>

      </div>

      <div class="detail-team">
        <h4>Detalhes do Time</h4>
        <img ng-src="https://o2games-golaco.s3.amazonaws.com/flags/{{$appCtrl.teamPreview.IdCountry}}.jpg" height="10">
        <p>Fundado em {{$appCtrl.teamPreview.FoundationDate | date:'shortDate'}}</p>
      </div>

      <div style="clear: both;"></div>

      <div class="detail-uniform">
        <h3>Uniforme</h3>

        <div class="clearfix main-uniformes">
          <div class="main-uniforme">uniforme</div>
          <div class="main-uniforme">uniforme</div>
        </div>

        <img ng-src="https://o2games-golaco.s3.amazonaws.com/img/sponsor/{{$appCtrl.teamPreview.SponsorName}}/preview.png" class="main-sponsor" ng-if="$appCtrl.teamPreview.SponsorName">

        <div ng-if="!$appCtrl.teamPreview.SponsorName">
          Clique aqui para contratar um patrocinador!
        </div>

      </div>


    </div>

    <div class="col-xs-6 body-item">
      <h3>Missões</h3>

      <ul class="main-missions">
        <li ng-repeat="mission in $ctrl.missionList.Missions">
          <img ng-src="{{mission.Mission.urls.icon_up}}"
          ng-dialog="mission-popup.html"
          ng-dialog-append-class="ngdialog-mission-popup"
          ng-dialog-controller="MissionPopupController"
          ng-dialog-show-close="false"
          ng-dialog-data="{{mission}}"
          ng-dialog-close-previous
          alt="{{mission.Mission.Name}}"
          title="{{mission.Mission.Name}}">
        </li>
      </ul>

      <h3>Avisos</h3>

      <div class="main-warnings">
        <div ng-repeat="warning in $appCtrl.teamPreview.Warnings | pick:'deleted != true'" class="warning" >
          <span class="close" ng-click="$ctrl.deleteWarning(warning)">X</span>
          <span class="icon-exclamation-triangle"></span>
          <span>{{'Warnings.' + warning.Message | translate}}</span>
        </div>
        <div class="no-warning" translate>TeamPreview.lblNoMessages</div>
      </div>

      <!-- <div class="pull-left checkbox">
        <label>
          <input type="checkbox" name="" checked>
          <span>Compartilhar</span>
        </label>
      </div> -->

      <h3>
        Nota à imprensa
        <button class="btn-link icon-pencil-square" ng-click="$ctrl.updateHistory($appCtrl.teamPreview.History);"></button>
      </h3>
      <textarea width="100%" class="main-note" ng-model="$appCtrl.teamPreview.History"></textarea>

    </div>

  </div>
</div>
<!-- <pre>{{$appCtrl | json}}</pre> -->
