<div class="main">

  <div class="clearfix main-header">
    <div class="pull-right submenu">
      <button class="btn btn-xs btn-primary" ng-click="$ctrl.config()" title="{{'ConfigScr.lblTitle'|translate}}"><i class="icon-wrench"></i></button>
      <button class="btn btn-xs btn-primary" ng-click="$ctrl.teamTrophyRoom()" title="{{'ExternalTeamPreview.lblTrophiesRoom'|translate}}"><i class="icon-trophy"></i></button>
      <button class="btn btn-xs btn-primary" ng-click="$ctrl.stats()" title="{{'MyStatisticsDetail.lblTitle'|translate}}"><i class="icon-graph-bar"></i></button>
      <button class="btn btn-xs btn-primary" ng-click="$ctrl.dailyBonus()" title="{{'DailyBonusMessages.DailyBonus'|translate}}"><i class="icon-star-circled"></i></button>
      <button
        ng-dialog="bug-report.html"
        ng-dialog-append-class="ngdialog-bug-report"
        class="btn btn-xs btn-primary" title="{{'Common.ReportBug'|translate}}"><i class="icon-bug"></i></button>
    </div>
    <h2 translate>TeamPreview.lblTitle</h2>
  </div>

  <div class="row main-body">

    <div class="col-xs-6 body-item">

      <div class="detail-manager">

        <h4>{{$appCtrl.user.TeamName}}</h4>

        <div class="shield">
          <img ng-src="{{$appCtrl.teamPreview.Badge}}" class="pull-left">
        </div>

        <h4 translate>TeamPreview.lblTeamOwner</h4>
        <div class="manager">
          <img ng-src="{{$appCtrl.userData.picture}}" class="pull-left" style="margin-right: 5px;" height="30">
          <h5>{{$appCtrl.userData.userName}}</h5>
          <img ng-src="https://o2games-golaco.s3.amazonaws.com/flags/{{$appCtrl.user.IdCountry}}.jpg" height="10">
        </div>

      </div>

      <h4 translate>TeamPreview.lblTeamDetails</h4>
      <div class="detail-team">
        <img ng-src="https://o2games-golaco.s3.amazonaws.com/flags/{{$appCtrl.teamPreview.IdCountry}}.jpg" height="10">
        <p>{{'TeamPreview.lblFoundation;d' + $appCtrl.teamPreview.FoundationDate|translate}}</p>
      </div>

      <div class="detail-uniform">
        <h4 translate>TeamPreview.lblUniform</h4>

        <div class="clearfix main-uniformes">
          <div class="main-uniforme">uniforme</div>
          <div class="main-uniforme">uniforme</div>
        </div>

        <a ui-sref="^.financial">
          <img ng-src="https://o2games-golaco.s3.amazonaws.com/img/sponsor/{{$appCtrl.teamPreview.SponsorName}}/preview.png" class="main-sponsor" ng-if="$appCtrl.teamPreview.SponsorName">

          <span class="btn btn-block ng-scope" ng-if="!$appCtrl.teamPreview.SponsorName" translate>TeamPreview.lblNoSponsor</span>
        </a>
      </div>


    </div>

    <div class="col-xs-6 body-item text-right">
      <h4 translate>TeamPreview.lblMissions</h4>

      <ul class="main-missions">
        <li ng-repeat="mission in $ctrl.missionList.Missions">
          <img ng-src="{{mission.Mission.urls.icon_up}}"
          ng-dialog="mission-popup.html"
          ng-dialog-append-class="ngdialog-mission-popup"
          ng-dialog-controller="MissionPopupController"
          ng-dialog-show-close="false"
          ng-dialog-data="{{mission}}"
          ng-dialog-close-previous
          alt="{{mission.Mission.Name}}"
          title="{{'Missions.'+mission.Mission.Name|translate}}">
        </li>
      </ul>

      <h4 translate>TeamPreview.lblWarnings</h4>

      <div class="main-warnings">
        <div ng-repeat="warning in $appCtrl.teamPreview.Warnings | pick:'deleted != true'" class="warning" >
          <span class="close" ng-click="$ctrl.deleteWarning(warning)">X</span>
          <span class="icon-exclamation-triangle"></span>
          <span>{{'Warnings.' + warning.Message | translate}}</span>
        </div>
        <div class="no-warning" translate>TeamPreview.lblNoMessages</div>
      </div>

      <div class="pull-left checkbox">
        <label>
          <input type="checkbox" name="" checked>
          <span translate>Match.lblShare</span>
        </label>
      </div>

      <h4>
        {{'TeamPreview.lblPressNote'|translate}}
        <button class="btn-link icon-pencil-square" ng-click="$ctrl.updateHistory($appCtrl.teamPreview.History);"></button>
      </h4>
      <textarea width="100%" class="main-note" ng-model="$appCtrl.teamPreview.History"></textarea>

    </div>

  </div>
</div>
<!-- <pre>{{$appCtrl | json}}</pre> -->
