.ngdialog.ngdialog-competition-league {

  .ngdialog-content {
    width: 750px;
    min-height: 550px;
    // padding: 10px 25px;
    border: 3px solid #0265b3;
    // span{
    //   font-weight: 600;
    // }
  }

  // h2 {
  //   font-weight: 600;
  //   color: #4e5667;
  // }

  // h5,
  // h4 {
  //   margin: 0;
  // }

  // h3 {
  //   margin-bottom: 0;
  // }

  .button-bar {
    button {
      outline: none;
      border: 0;
      padding: 5px 10px;
    }
    .active {
      background: #ccc;
    }
  }

  i[class*="icon-league-"] {
    font-size: 30px;
    &:before {
      line-height: 1.25;
    }
  }

}

// .competition-league-ranking {
//   th {
//     background: -moz-linear-gradient(360deg, #FFA600 0, #ffd700 50%);/* FF3.6+ */
//     background: -webkit-gradient(linear, 360deg, color-stop(0, FFA600), color-stop(50%, ffd700));/* Chrome,Safari4+ */
//     background: -webkit-linear-gradient(360deg, #FFA600 0, #ffd700 50%);/* Chrome10+,Safari5.1+ */
//     background: -o-linear-gradient(360deg, #FFA600 0, #ffd700 50%);/* Opera 11.10+ */
//     background: -ms-linear-gradient(360deg, #FFA600 0, #ffd700 50%);/* IE10+ */
//     filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1301FE', endColorstr='#F4F60C', GradientType='1'); /* for IE */
//     background: linear-gradient(360deg, #FFA600 0, #ffd700 50%);/* W3C */
//     font-size: 12px;
//     color:#484848;
//     text-transform: uppercase;
//     border:solid 1px #CCC;
//     height:26px;
//     padding: 0 5px;
//     text-align: center;
//   }
//   tr:nth-child(odd) {
//     background-color:#F3F3F3;
//   }

//   tr:nth-child(even) {
//     background-color:#FFF;
//   }

//   tr, td {
//     height:26px;
//     padding-left:4px;
//     padding-right:2px;
//     // font-family:Verdana, Geneva, sans-serif;
//     font-size:12px;
//     white-space:nowrap;
//     border:solid 1px #E1E1E1;
//   }
//   tr:hover {
//     // background-color:#00D8CC;
//     // cursor:pointer;
//     // color:#FFF;
//   }
// }

.competition-league-match-table {

  .match-table {
    font-size: 11px;
    white-space: nowrap;

    th {
      text-align: center;
    }

    tr:nth-child(odd) {
      td {
        background: #ccc;
      }
      td:nth-child(2n+4) {
        background: #ddd;
      }
    }
    tr:nth-child(even) {
      td {
        background: #ddd;
      }
      td:nth-child(2n+4) {
        background: #ccc;
      }
    }

    span {
      display: block;
      padding-top: 2px;
    }

    .status {
      color: white;
      font-weight: bold;
      border: 1px solid rgba(0,0,0,.1);
      line-height: 21px;

      &.-D {
        background-color: red;
        &:before {
          content: "D";
        }
      }
      &.-V {
        background-color: green;
        &:before {
          content: "V";
        }
      }
      &.-E {
        background-color: orange;
        &:before {
          content: "E";
        }
      }

      &:hover {
        background: #66a7c1;
        cursor: pointer;
        font-size: 18px;
        &:before {
          content: "\25BA";
        }
      }
    }
  }

}

.competition-league-calendar {
  .slick-nav {
    // text-align: center;
    margin: 0 20px;
  }

  // .match-table {
  //   outline: none;

  //   .table-title {
  //     text-align: center;
  //   }
  //   td {
  //     padding: 10px 0;
  //   }

  //   th {
  //       background: -moz-linear-gradient(360deg, #FFA600 0, #ffd700 50%);/* FF3.6+ */
  //       background: -webkit-gradient(linear, 360deg, color-stop(0, FFA600), color-stop(50%, ffd700));/* Chrome,Safari4+ */
  //       background: -webkit-linear-gradient(360deg, #FFA600 0, #ffd700 50%);/* Chrome10+,Safari5.1+ */
  //       background: -o-linear-gradient(360deg, #FFA600 0, #ffd700 50%);/* Opera 11.10+ */
  //       background: -ms-linear-gradient(360deg, #FFA600 0, #ffd700 50%);/* IE10+ */
  //       filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1301FE', endColorstr='#F4F60C', GradientType='1'); for IE
  //       background: linear-gradient(360deg, #FFA600 0, #ffd700 50%);/* W3C */
  //       font-size: 12px;
  //       color:#484848;
  //       text-transform: uppercase;
  //       border:solid 1px #CCC;
  //       height:26px;
  //       padding: 0 5px;
  //       text-align: center;

  //     }
  //     tr:nth-child(odd) {
  //       background-color:#F3F3F3;
  //     }

  //     tr:nth-child(even) {
  //       background-color:#FFF;
  //     }

  //     tr, td {
  //       height:26px;
  //       padding-left:4px;
  //       padding-right:2px;
  //       font-size:12px;
  //       white-space:nowrap;
  //       border:solid 1px #E1E1E1;
  //       font-weight: 600;
  //     }
  //     tr:hover {
  //       // background-color:#00D8CC;
  //       // cursor:pointer;
  //       // color:#FFF;
  //     }
  // }

  match-element {
    margin-bottom: 15px;
    background: #fff;
  }

  .slick-dots {
    list-style-type: none;
    padding: 0;
    text-align: center;
    margin-top: 20px;

    li {
      display: inline-block;
    }
    button {
      border: 0;
      padding: 0;
      margin-left: 2px;
      font-size: 12px;
      width: 20px;
      line-height: 20px;
    }
    .slick-active button {
      background: orange;
    }
  }
}

.competition-league-prize {
  h1 {
    font-size: 110px;
    line-height: .5;
    text-align: center;
    margin-top: -20px;
  }
  .league-prize {
    padding: 0px 15px 5px 0;
    // border: 1px solid;
    margin-bottom: 15px;
    background: white;
    // padding-left: 20px;

    h4 {
      margin-top: 15px;
    }

    .prize-thophy {
      float: left;
      height: 80px;
      width: 80px;
      text-align: center;
    }

    p {
      margin: 0;
    }
  }
}
