<h2>Liga Golaço</h2>
<span class="pull-right">Série {{teamPreview.Serie}}</span>

<div ng-init-="current='league-prize'" class="pull-left checkbox">
  <label>
      <input type="radio" ng-model="current" ng-value=""> 
      <span>Resumo</span>
  </label>
  <label>
      <input type="radio" ng-model="current" ng-value="'league-ranking'"> 
      <span>Classificação</span>
  </label>
  <label>
      <input type="radio" ng-model="current" ng-value="'league-match-table'"> 
      <span>Jogos</span>
  </label>
  <label>
      <input type="radio" ng-model="current" ng-value="'league-calendar'"> 
      <span>Rodadas</span>
  </label>
  <label>
      <input type="radio" ng-model="current" ng-value="'league-prize'"> 
      <span>Prêmios</span>
  </label>
</div>

<ng-include class="competition-{{(current || 'common-sumary')}}" src="'competition-'+ (current || 'common-sumary') +'.html'" />
