<h2>{{'KingOfTheHill.'+$ctrl.hill.NameHill|translate}}</h2>

<div ng-init-="current='my-last-matches'" class="hill-details-menu">
  <label>
    <input type="radio" ng-model="current" ng-value=""> <span translate>KingOfTheHill.lblTop5</span>
  </label>
  <label>
    <input type="radio" ng-model="current" ng-value="'last-10'"> <span translate>KingOfTheHill.lblLast10</span>
  </label>
  <label>
    <input type="radio" ng-model="current" ng-value="'my-last-matches'"> <span translate>KingOfTheHill.lblMyLast10</span>
  </label>
</div>

<ng-include class="hill-details-{{(current || 'top-teams')}}" src="'hill-details-'+ (current || 'top-teams') +'.html'"></ng-include>
