.ngdialog.ngdialog-hill-details {

  .ngdialog-content {
    width: 750px;
    min-height: 430px;
    // padding: 25px;

    // > :first-child {
    //   margin-top: 0;
    // }
  }


  .hill-details-menu {
    float: left;

    + ng-include > :first-child{
      &:not(.pull-right),
      &.pull-right + * {
        clear: both;
      }
    }
  }

  .table {
    font-size: 12px;

    td {
      vertical-align: middle;
    }
  }

  .icon-crown {
    font-size: 18px;
    padding-right: 20px;
  }

  .match-date {
    font-size: 12px;
  }

}
