<h2 translate>DraftCenter.lblScoutSelectTitle</h2>
<h5 translate>DraftCenter.lblScoutSelectDescription</h5>

<table width="100%" cellspacing="0" cellpadding="0">
  <tr>
    <th></th>
    <th translate>DraftCenter.lblTechnicalSkills</th>
    <th translate>DraftCenter.lblNewTalents</th>
    <th translate>DraftCenter.lblScoutingTime</th>
    <th class="icon-credit-card"></th>
    <th class="icon-money"></th>
  </tr>
  <tr ng-repeat="scout in $ctrl.juniorScouts" ng-click="confirm(scout)">
    <td class="scout-name">{{scout.Name}}</td>
    <td align="center">{{scout.MeansScoutBonus*10}}</td>
    <td align="center">{{scout.TeamPlayerBonus}}</td>
    <td align="center">{{scout.ReleaseTimeBonus}}%</td>
    <td align="center">{{scout.CreditCost}}</td>
    <td align="right">{{scout.MoneyCost | currency}}</td>
  </tr>
</table>
