.ngdialog.ngdialog-competition-tournament {

  .ngdialog-content {
    width: 750px;
    height: 550px;
    padding: 10px 25px;
  }

  h5,
  h4 {
    margin: 0;
  }

  h3 {
    margin-bottom: 0;
  }

}

.competition-tournament-sumary {
  .row {
    overflow: auto;
    margin: 0 -15px;
  }

  .half {
    width: 50%;
    float: left;
    padding: 0 15px;
  }

  .text-right {
    text-align: right;
  }

  table {
    font-size: 14px;
    white-space: nowrap;
  }

  .first {
    font-size: 16px;
    font-weight: bold;

    .team-badge {
      height: 50px;
    }
  }
}

.competition-tournament-match-table {

  .slick-slider {
    margin: 0 -10px 0px;
  }

  .slick-slide {
    outline: none;
  }

  .match-table {
    box-sizing: box-sizing;
    padding: 10px;
    font-size: 12px;
    white-space: nowrap;
  }

}

.competition-tournament-calendar {

}

.competition-tournament-play-off {
  .slick-slider {
    margin: 0 -10px 0px;
  }

  .slick-slide {
    outline: none;
  }

  .match-table {
    box-sizing: box-sizing;
    padding: 10px;
    font-size: 12px;
    white-space: nowrap;
  }
}



.button-bar {
  button {
    outline: none;
    border: 0;
    padding: 5px 10px;
  }
  .active {
    background: #ccc;
  }
}
