<h2>Torneio Golaço</h2>

<div ng-init="current = 'play-off'">
  <label>
    <input type="radio" ng-model="current" ng-value=""> Resumo
  </label>
  <label>
    <input type="radio" ng-model="current" ng-value="'ranking'"> Classificação
  </label>
  <label>
    <input type="radio" ng-model="current" ng-value="'match-table'"> Jogos
  </label>
  <label>
    <input type="radio" ng-model="current" ng-value="'calendar'"> Rodadas
  </label>
  <label>
    <input type="radio" ng-model="current" ng-value="'play-off'"> Oitavas de final
  </label>
</div>

<ng-include class="competition-tournament-{{(current || 'sumary')}}" src="'competition-tournament-'+ (current || 'sumary') +'.html'" />
