<h2>Seu time entrou em campo!</h2>
<h3>Confira o que rolou nas partidas</h3>

<div ng-repeat="matcheAlert in $appCtrl.teamMatchesAlert">
  <h4 class="match-title">Partida da {{matcheAlert.Type}} - {{matcheAlert.Date | date:'short'}}</h4>
  <div class="match-game">
    <span class="match-team">
      <img ng-src="{{matcheAlert.HomeTeam.Badge}}">
      {{matcheAlert.HomeTeam.Acronym}}
    </span>
    X
    <span class="match-team">
      {{matcheAlert.VisitorTeam.Acronym}}
      <img ng-src="{{matcheAlert.VisitorTeam.Badge}}">
    </span>
    <span>
      <button>Assistir partida</button>
      <button>Ver resultado</button>
    </span>
  </div>
</div>

<footer>
  <button ng-click="closeThisDialog('Some value')">ok</button>
</footer>
