.ngdialog.ngdialog-main-stats {

  .ngdialog-content {
    width: 750px;
  }

  // h3,
  // h4,
  // h5,
  // h6,
  // p {
  //   margin: 0;
  //   line-height: 1.1;
  // }
  // h2{
  //  color: rgb(78, 86, 103);
  // }
  // p {
  //   font-size: 14px;
  // }

  .stats-badge {
    float: left;
    position: relative;

    img {
      vertical-align: top;
    }

    .badge-serie {
      position: absolute;
      right: 5px;
      top: -10px;
      background: azure;
      width: 20px;
      text-align: center;
      border-radius: 3px;
      margin: 0;
    }
  }

  .team-info {
    float: left;
    margin-top: 20px;
    margin-left: 30px;
    padding-left: 30px;

    border-left: 1px solid;

    h5,
    h3 {
      margin: 0;
    }

    h5 {
      color: #0b62a9;
    }
  }

  .stats-menu {
    // float: right;
    text-align: right;
    line-height: 40px;
    // margin-bottom: 25px;
    label {
      margin: 0;
    }

    input[type="radio"] {
      display: none;
      + span {
        background: #aaa;
        padding: 0 15px;
        display: inline-block;
        font-weight: 500;
      }
      &:checked + span {
        background: #ddd;
      }
    }
  }

  ng-include {
    background: #ddd;
    display: block;
    padding: 30px;
    min-height: 320px;
  }

  .overview-lasts {
    display: flex;
    // margin: 30px;
    background: white;
    border-radius: 10px;
    padding: 15px;
    align-items: center;

    > * {
      flex: 1;
    }

    > div {
      text-align: center;
    }

    h5 {
      // padding-top: 10px;
      color: #0b62a9;
      // margin: 0;
    }
    .icon-trophy:before {
        color: #f6c325;
    }

    strong {
      font-size: 24px;
    }
  }

  .dangerous-player {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    background: white;
    border-radius: 10px;
    // padding: 10px 15px;

    > * {
      // flex: 1;
    }

    h5 {
      color: #0b62a9;
    }
    p {
      line-height: 1;
      margin: 0;
    }
    .attributes{
      color: #0b62a9;
      span{
        color: #444;
      }
    }
    .ranking {
      background: linear-gradient(356deg, #313131 0, #565656 50%);/* W3C */
      align-self: stretch;
      color: #fff;
      // padding: 25px 15px;
      text-align: center;
    }
  }

  .overview{
    font-size: 13px;
    text-align: center;
  }

  .ngdialog-close{
    border: none;
    box-shadow: none;
    padding: 0;
    outline: none;
    &:before{

      color: #0b62a9;
    }
    &:hover{
      border: none;
    }
  }

  .trophy{
    text-align: center;

  }
  .slick-track{
    background: #ffffff;
    padding: 10px;
  }

  .slide-control{
    margin: 15px 10px;
  }

  .ng-scope{

  }
}
