<div class="overview-lasts">

  <h5 translate>MyStatisticsDetail.lblLastPositions</h5>

  <div>
    <img src="/app/images/trofeus/league.png" height="43">
    <h5 translate>Common.lblLeague</h5>
    <ng-switch on="!!$ctrl.teamStats.Overview.LastLeague">
      <strong ng-switch-when="true">{{'Ordinals.'+$ctrl.teamStats.Overview.LastLeague.Position|translate}}</strong>
      <span ng-switch-when="false">--</span>
    </ng-switch>
  </div>

  <div>
    <img src="/app/images/trofeus/tournament.png" height="43">
    <h5 translate>Common.lblChampionship</h5>
    <ng-switch on="!!$ctrl.teamStats.Overview.LastTournment">
      <span ng-switch-when="true"><span translate>Common.Round</span> <strong>{{$ctrl.teamStats.Overview.LastTournment.Phase}}</strong></span>
      <span ng-switch-when="false">--</span>
    </ng-switch>
  </div>

  <div>
    <img src="/app/images/trofeus/cup.png" height="43">
    <h5 translate>Common.lblCup</h5>
    <ng-switch on="!!$ctrl.teamStats.Overview.LastCup">
      <span ng-switch-when="true"><span translate>Common.Round</span> <strong>{{$ctrl.teamStats.Overview.LastCup.Phase}}</strong></span>
      <span ng-switch-when="false">--</span>
    </ng-switch>
  </div>

  <div>
    <img src="/app/images/trofeus/amigos.png" height="43">
    <h5 translate>Common.lblFriendlyLeague</h5>
    <ng-switch on="!!$ctrl.teamStats.Overview.LastFriendlyLeague">
      <span ng-switch-when="true"><span translate>Common.Round</span> <strong>{{$ctrl.teamStats.Overview.LastFriendlyLeague.Phase}}</strong></span>
      <span ng-switch-when="false">--</span>
    </ng-switch>
  </div>

</div>

<div class="dangerous-player">

  <h5 translate>MyStatisticsDetail.lblTopPlayer</h5>

  <img ng-src="{{$ctrl.teamStats.Overview.DangerousPlayer.Picture}}" height="80px">

  <div>
    <h6>{{$ctrl.teamStats.Overview.DangerousPlayer.Name}}</h6>
    <p class="attributes">
      <span>{{$ctrl.teamStats.Overview.DangerousPlayer.ShirtNumber}}</span>
      {{'Common.'+$ctrl.teamStats.Overview.DangerousPlayer.Position|translate}}
    </p>
    <p class="attributes">
      <span>{{$ctrl.teamStats.Overview.DangerousPlayer.Goals}}</span>
      Gols
    </p>
  </div>

  <div class="ranking">
    <i class="icon-star"></i>
    <h6 translate>MyStatisticsDetail.lblGeneralRanking</h6>
    <h3 translate>Common.ComingSoon</h3>
  </div>

  <img ng-src="{{$ctrl.teamStats.Overview.LastRecruitment.Picture}}" height="80px" ng-if="$ctrl.teamStats.Overview.LastRecruitment">
  <div ng-if="$ctrl.teamStats.Overview.LastRecruitment">
    <h6>{{$ctrl.teamStats.Overview.LastRecruitment.Name}}</h6>
    <p class="attributes">
      <span>{{$ctrl.teamStats.Overview.LastRecruitment.ShirtNumber}}</span>
      {{'Common.'+$ctrl.teamStats.Overview.LastRecruitment.Position|translate}}
    </p>
    <p class="attributes">
      <br>{{'MyStatisticsDetail.lblContractValue'|translate}}
      <br><span>{{$ctrl.teamStats.Overview.LastRecruitment.Value || 0 | currency}}</span>
    </p>
  </div>

  <p ng-if="!$ctrl.teamStats.Overview.LastRecruitment">Seu Time nunca fez <br>negociações</p>

</div>
