<h2 translate>MyStatisticsDetail.lblTitle</h2>

<div class="clearfix">
  <div class="stats-badge">
    <img ng-src="{{$appCtrl.userData.picture}}" class-="pull-left" height="56">
    <img ng-src="{{$ctrl.teamStats.Badge}}" class-="pull-left">
    <h3 class="badge-serie">{{$appCtrl.user.Serie}}</h3>
  </div>
  <div class="team-info">
    <h5>{{$appCtrl.userData.userName}}</h5>
    <h3>{{$appCtrl.user.TeamName}}</h3>
  </div>
</div>

<div class="stats-menu">
  <label>
    <input type="radio" ng-model="current" value="main-stats-general.html" ng-checked="true">
    <span class="" translate>MyStatisticsDetail.OverviewScr</span>
  </label>
  <label>
    <input type="radio" ng-model="current" value="main-stats-stats.html">
    <span class="" translate>MyStatisticsDetail.StatisticsScr</span>
  </label>
  <label>
    <input type="radio" ng-model="current" value="main-stats-leagues-history.html">
    <span class="" translate>MyStatisticsDetail.HistoryScr</span>
  </label>
</div>

<ng-include src="current||'main-stats-general.html'" ></ng-include>
