<div class="change-name">

  <div class="form-group">
    <label translate class="text-uppercase">ConfigScr.lblChangeTeamName</label>
    <input type="text" ng-model="team.newName" class="form-control" ng-value="$appCtrl.user.TeamName">
  </div>

  <div class="form-inline text-right">
    <div class="form-group team-acronym">
      <label for="newAcronym" translate class="text-uppercase">Registration.lblAcronym</label>
      <input type="text" class="form-control" id="newAcronym" ng-model="team.newAcronym" ng-value="$appCtrl.user.Acronym">
    </div>
    <div class="form-group">
      <label for="newAcronym"><i class="icon icon-credit-card"></i> <strong class="price">{{$ctrl.settings.Price}}</strong></label>
      <!-- <input type="text" class="form-control" id="newAcronym" ng-model="team.newAcronym"> -->
      <button type="button" class="btn btn-primary" ng-click="$ctrl.changeTeamName(team.newName, team.newAcronym, true)">OK</button>
    </div>
  </div>
</div>
