.ngdialog.ngdialog-main-config {
  .ngdialog-content {
    width: 750px;
  }

  hr {
    border: 1px solid #0b62a9;
  }

  .ngdialog-close {
    border: none;
    box-shadow: none;
    padding: 0;
     outline: none;
    &:before{

      color: #df0000;
    }
    &:hover{
      border: none;
    }
  }

  .team-name {
    color: #4682B4;
    // margin-bottom: 0;
  }

  .change-name {
    .team-acronym {
      // padding-left: 50px;
      margin-right: 30px;

      input {
        width: 70px;
      }
    }
  }
  .price {
    font-size: 24px;
    vertical-align: middle;
    padding: 0 10px;
  }

  .change-country {
    // .team-country {
    //   display: block;

    //   select {
    //     width: 100%;
    //     appearance: none;
    //     -moz-appearance: none;
    //     -webkit-appearance: none;
    //     background: url('../app/images/arrow.png') no-repeat 95% 50% #ffffff;
    //     color:#4e5667;
    //     padding: 8px;
    //     margin-top: 2px;
    //   }
    // }
  }

  .mail-options {
    // clear: both;
    // padding-top: 20px;

    .setting-list {
      column-count: 2;
      // column-gap: 0;
    }
    // h3 {
    //   // padding: 15px 0;
    //   color: #4e5667;
    // }

    // label {
    //   // display: block;
    //   // font-size: 16px;
    // }

    input[type=checkbox] {
        // opacity: 0;
        // margin-right: -12px;
        // cursor: pointer;
        // width: 12px;
        // height: 12px;
        display: none;
    }

    input[type=checkbox] + span {
      cursor: pointer;
      font-weight: 500;
    }

    input[type=checkbox]:checked + span:before {
        content: '\2714';
        color: #0265b3;
    }
    input[type=checkbox] + span:before {
        content: '\2714';
        color: transparent;
        display: inline-block;
        margin-right: 18px;
        width: 18px;
        height: 18px;
        visibility: visible;
        background: transparent;
        border: 1px solid #0265b3;
        border-radius: 2px;
        line-height: 18px;
        text-align: center;
        font-weight: 700;
        font-size: 17px;
    }
  }

  footer {
  }

}
