<h2>Configurações</h2>

<div class="change-name">
  <h4>{{$appCtrl.user.TeamName}}</h4>

  <label class="team-name">
    Alterar o nome do time
    <input type="text" ng-model="team.newName">
  </label>

  <label class="team-acronym">
    Sigla
    <input type="text" ng-model="team.newAcronym">
  </label>

  <label class="price">
    <i class="icon icon-credit-card"></i>
    {{$ctrl.settings.Price}}
    <button type="button" class="" ng-click="$ctrl.changeTeamName(team.newName, team.newAcronym)">OK</button>
  </label>
</div>

<div class="change-country">
  <label class="team-country">
    Alterar país
    <select ng-model="$ctrl.settings.TeamIdCountry">
      <option>Paises</option>
      <option ng-repeat="country in $appCtrl.countryList" ng-value="{{country.id}}">{{country.name}}</option>
    </select>
  </label>
  <label class="price">
    <i class="icon icon-credit-card"></i>
    {{$ctrl.settings.ChangeCountryPrice}}
    <button class="" ng-click="$ctrl.changeCountry($ctrl.settings.TeamIdCountry)">OK</button>
  </label>
</div>

<div class="mail-options">
  <h3>Opções de email</h3>
  <div class="setting-list">
    <label ng-repeat="setting in $ctrl.settings.Settings">
      <input type="checkbox" name="" ng-checked="setting.Subscribe">
      <span>{{setting.Name}}</span>
    </label>
  </div>
  <hr>
  <button type="button" class="closeDialog" ng-click="">OK</button>
</div>


