.ngdialog.ngdialog-main-config {

  // h2,
  h3,
  h4,
  h5 {
    margin: 0;
  }

  .ngdialog-content {
    width: 750px;
    padding: 30px 50px;
  }

  .change-name {
    float: left;
    width: 60%;
    padding-right: 50px;

    .team-name input {
      width: 100%;
    }
    .team-acronym {
      padding-left: 50px;

      input {
        width: 70px;
      }
    }
  }
  .price {
    padding-left: 30px;
    float: right;
  }

  .change-country {
    float: left;
    width: 40%;
    padding-left: 50px;
    padding-top: 25px;
    border-left: 1px solid;
    .team-country select {
      width: 100%;
    }
  }

  .mail-options {
    clear: both;
    padding-top: 20px;

    .setting-list {
      column-count: 2;
      // column-gap: 0;
    }

    label {
      display: block;
    }
  }

  footer {
  }

}
