<h2 translate>JuniorCenterPreview.lblTitle</h2>
<div class="junior-center">
  <div class="clearfix">
    <div class="structure-menu submenu pull-right">
      <button class="btn btn-xs btn-primary" ng-click="$ctrl.juniorDraft()" title="{{'JuniorCenterPreview.btnDraft'|translate}}"><i class="icon-world"></i></button>
      <button class="btn btn-xs btn-primary" ng-click="$ctrl.juniorReform()" title="{{'StadiumPreview.lblReform'|translate}}"><i class="icon-wrench"></i></button>
    </div>
    <h4>
      <button class="btn-link icon-pencil-square" ng-click="$ctrl.editName()"></button>{{$ctrl.juniorPreview.Name}}
    </h4>
  </div>
  <div class="center-structure">
    <img ng-src="{{$ctrl.juniorPreview.Picture}}" class="center-picture">
    <div class="junior-players">
      <junior-table players="$ctrl.juniorPreview.Players" current-player="$ctrl.currentPlayer" small=true></junior-table>
      <span class="no-players" ng-if="!$ctrl.juniorPreview.Players.length" translate>DraftCenter.lblEmptyList</span>
    </div>
  </div>
  <div class="row center-details">
    <dl class="col-xs-6 center-info">
      <dt translate>JuniorCenterPreview.lblConstructionDate</dt>
      <dd>{{$ctrl.juniorPreview.ConstructionDate | date:'short'}}</dd>
      <dt translate>JuniorCenterPreview.lblLevel</dt>
      <dd>{{$ctrl.juniorPreview.StructureLevel}}</dd>
      <dt translate>JuniorCenterPreview.lblCapacity</dt>
      <dd>{{$ctrl.juniorPreview.Capacity}}</dd>
      <dt translate>JuniorCenterPreview.lblNewDraft</dt>
      <dd ng-if="!($ctrl.juniorPreview.TimeToNewDraft<$ctrl.now)">{{$ctrl.juniorPreview.TimeToNewDraft | date:'short'}}</dd>
      <dd ng-if="$ctrl.juniorPreview.TimeToNewDraft<$ctrl.now" class="text-uppercase" translate>Common.available</dd>
    </dl>
    <div class="col-xs-6 player-info" ng-if="$ctrl.currentPlayer">
      <dl class="clearfix">
        <tooltip tooltip-title="{{'FastHelp.juniorPlayerInfo_title'|translate}}" class="pull-left">
          <tooltip-content translate>FastHelp.juniorPlayerInfo_body</tooltip-content>
          <i class="icon-question"></i>
        </tooltip>

        <dt translate>
          JuniorCenterPreview.lblJunior
        </dt>
        <dd>{{$ctrl.currentPlayer.Name}}</dd>
        <dt translate>JuniorCenterPreview.lblLiberationTime</dt>
        <dd>{{$ctrl.currentPlayer.ReleaseDate | date:'short'}}</dd>
        <dt translate>JuniorCenterPreview.lblLiberationCost</dt>
        <dd>
          <div>{{$ctrl.currentPlayer.MoneyCost | currency}} <i class="icon-money"></i></div>
          <div>{{$ctrl.currentPlayer.CreditsCost}} <i class="icon-credit-card"></i></div>
        </dd>
      </dl>
      <footer class="clearfix">
        <tooltip tooltip-title="{{'FastHelp.forwardingAgent_title'|translate}}" class="pull-left">
          <tooltip-content translate>FastHelp.forwardingAgent_body</tooltip-content>
          <i class="icon-question"></i>
        </tooltip>
        <label class="pull-left checkbox-inline">
          <input type="checkbox" ng-model="$ctrl.useAgent"> <span translate>JuniorCenterPreview.lblForwardingAgent</span>
          <br><i class="icon-credit-card"></i> {{$ctrl.juniorPreview.AgentCost}}
        </label>
        <div class="pull-right">
          <button class="btn btn-danger btn-icon" title="{{'JuniorCenterPreview.lblRelease'|translate}}" ng-click="$ctrl.releaseTeamPlayer($ctrl.currentPlayer.Id)"><i class="icon-times"></i></button>
          <button class="btn btn-primary btn-icon" title="{{'JuniorCenterPreview.lblHire'|translate}}" ng-click="$ctrl.upgradeJuniorToProfessional($ctrl.currentPlayer.Id, !!$ctrl.useAgent)"><i class="icon-star"></i></button>
        </div>
      </footer>
      <!-- {{$ctrl.currentPlayer}} -->
    </div>
  </div>
</div>
