<h2>Centro de Juniores</h2>
<div class="junior-center">
  <div class="structure-menu">
    <button ng-click="$ctrl.juniorDraft()">Peneira</button>
    <button>Reformar</button>
  </div>
  <h4>{{$ctrl.juniorPreview.Name}}</h4>
  <div class="center-structure">
    <img ng-src="{{$ctrl.juniorPreview.Picture}}" class="center-picture">
    <div class="junior-players">
      <span class="no-players" ng-if="!$ctrl.juniorPreview.Players.length">Você não tem jogadores no seu Centro de Juniores. Clique no botão "Peneira" e recrute!</span>
    </div>
  </div>
  <dl class="center-info">
    <dt>Data de construção</dt>
    <dd>{{$ctrl.juniorPreview.ConstructionDate | date:'short'}}</dd>
    <dt>Nível</dt>
    <dd>{{$ctrl.juniorPreview.StructureLevel}}</dd>
    <dt>Capacidade</dt>
    <dd>{{$ctrl.juniorPreview.Capacity}}</dd>
    <dt>Nova peneira em</dt>
    <dd>{{$ctrl.juniorPreview.TimeToNewDraft | date:'short'}}</dd>
  </dl>
  <div class="player-info">

  </div>
</div>
{{$ctrl.juniorPreview | json}}
