<div class="messages">
  <h2>MessageDetail.lblScreenTitle</h2>

  <div class="text-right">
    <button class="btn btn-sm" ng-click="$ctrl.deleteCheckedMessages()"><!-- MessageDetail. -->btnErase</button>
    <button class="btn btn-sm" ng-click="$ctrl.setReadCheckedMessages()"><!-- MessageDetail. -->btnRead</button>
    <button class="btn btn-sm" ng-click="$ctrl.setUnReadCheckedMessages()"><!-- MessageDetail. -->btnUnread</button>
  </div>

  <table class="table table-striped messages-table">
    <thead>
      <tr>
        <th colspan="4"><input type="checkbox" ng-model="markAll" ng-click="$ctrl.markAll(markAll)"></th>
      </tr>
    </thead>
    <tbody>
      <tr
        ng-repeat="message in $ctrl.messageList"
        ng-class="{'is-unread': !message.IsRead}"
        ng-click="$ctrl.readMessage(message)">
        <td><input type="checkbox" ng-model="message.checked" ng-click="$event.stopPropagation();"></td>
        <td><!-- Messages. -->{{message.From}}</td>
        <td><!-- Messages. -->{{message.Title}}</td>
        <td align="right">{{message.SendDate | date:'short'}}</td>
      </tr>
    </tbody>
  </table>
</div>

  <!-- <pre>{{$ctrl.messageList[0]|json}}</pre> -->
