.training {
  padding: 15px;
  background-color: #cbdaef;

  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 5px 0;
  }

  .players-table {
    // max-height: 460px;
    // overflow-y: auto;
    // overflow-x: hidden;

    table {
      // max-width: 100%;
      white-space: nowrap;
      font-size: 14px;
      text-align: center;
      // border-collapse:separate;
      border-spacing: 0 2px;

      th {
        text-align: center;
      }

      img {
        vertical-align: middle;
      }
    }

    .player {
      background-color: white;
    }

    .player-country {
      &.-s1 {
        background-color: #ff9c00;
      }
      &.-s2 {
        background-color: #00a8ff;
      }
      &.-s3 {
        background-color: #7f7f7f;
      }
      &.-s4 {
        background-color: #006600;
      }
      &.-s5 {
        background-color: #db2d2d;
      }
    }

    .player-potential {
      font-size: 6px;
    }

    .player-injury:not(.has-injury) {
      opacity: 0.25;
    }

    .primary-skill {
      font-size: 10px;
      padding: 2px;
      color: #fff;

      &.-s1 {
        background-color: #ff9c00;
      }
      &.-s2 {
        background-color: #00a8ff;
      }
      &.-s3 {
        background-color: #7f7f7f;
      }
      &.-s4 {
        background-color: #006600;
      }
      &.-s5 {
        background-color: #db2d2d;
      }
    }

    .-add {
      color: #00a8ff;
      &:before {
        content: "+";
      }
    }
    .-dec {
      color: red;
    }
  }

  [training-limit] {
    width: 30px;
    div {
      border: 1px solid;
      border-radius: 2px;
      // height: 2px;
    }
    span {
      display: block;
      background-color: blue;
      height: 2px;
    }
  }

  button.icon-fast-forward {
    padding: 0;
    line-height: 1;
  }

}

