<div class="training">
  <h2 translate>PlayerTraining.lblTitle</h2>

  <table width="100%" class="training-levels">
    <tr>
      <th></th>
      <th align="center" ng-repeat="skill in [] | range:12:1">{{'Skills.skill_'+skill+'_acr'|translate}}</th>
    </tr>
    <tr>
      <td width="200" translate>PlayerTraining.lblTcLevel</td>
      <td align="center" ng-repeat="skill in [] | range:12:1">{{$ctrl.trainingCenter['TeamPlayerSkill' + skill + 'Level']}}</td>
    </tr>
  </table>

  <div class="players-table">
    <table class="table table-condensed table-striped">
      <thead>
        <tr>
          <th class="icon-t-shirt" title="{{'PlayerView.lblNumber'|translate}}"></th>
          <th colspan="1"></th>
          <th class="icon-male" title="{{'PlayerView.lblAge'|translate}}"></th>
          <th class="" title="{{'PlayerView.lblPotential'|translate}}"><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i></th>
          <th class="icon icon-plus" title="{{'PlayerView.lblInjury'|translate}}"></th>
          <th colspan="2"><span translate>PlayerView.lblPrimarySkill</span> 1</th>
          <th colspan="2"><span translate>PlayerView.lblPrimarySkill</span> 2</th>
          <th title="{{'Common.TeamPlayerSkill_Tecnica'|translate}}" translate>Common.TeamPlayerSkill_Tecnica_Acr</th>
          <th title="{{'Common.TeamPlayerSkill_Velocidade'|translate}}" translate>Common.TeamPlayerSkill_Velocidade_Acr</th>
          <th title="{{'Common.TeamPlayerSkill_Resistencia'|translate}}" translate>Common.TeamPlayerSkill_Resistencia_Acr</th>
          <th title="{{'Common.TeamPlayerSkill_Passe'|translate}}" translate>Common.TeamPlayerSkill_Passe_Acr</th>
          <th title="{{'Common.TeamPlayerSkill_Drible'|translate}}" translate>Common.TeamPlayerSkill_Drible_Acr</th>
          <th></th>
          <th><input type="checkbox" ng-model="$ctrl.checkAll" ng-change="$ctrl.toggleAll($ctrl.checkAll)" ></th>
        </tr>
      </thead>
      <tr ng-repeat="player in $ctrl.teamPlayers | filter:{TeamPlayerType: $ctrl.teamPlayerType}" class="player">
        <td class="player-shirt -s{{player.IdPosition}}" width="1">{{player.ShirtNumber}}</td>
        <td align="left">{{player.Name}}</td>
        <td>{{player.Age}}</td>
        <td>
          <div class="player-potential">
            <span ng-repeat="star in [1,2,3,4,5]" class="icon-star{{player.Potential<star?'-o':''}}"></span>
          </div>
        </td>
        <td class="icon icon-plus-square player-injury" ng-class="{'has-injury': player.HasInjury}"></td>
        <td title="{{'Common.'+player.Attributes.PrimarySkill1.Name|translate}}">
          <!-- <span class="primary-skill -s{{player.IdPosition}}">{{player.Attributes.PrimarySkill1.Name.replace('TeamPlayerSkill_','') | limitTo:3}}</span> -->
          <span class="primary-skill -s{{player.IdPosition}}">{{'Common.'+player.Attributes.PrimarySkill1.Name+'_Acr'|translate}}</span>
        </td>
        <td skill-value="player.Attributes.PrimarySkill1" ng-class="{max: player.Attributes.PrimarySkill2.Max}"></td>
        <td title="{{'Common.'+player.Attributes.PrimarySkill2.Name|translate}}">
          <!-- <span class="primary-skill -s{{player.IdPosition}}">{{player.Attributes.PrimarySkill2.Name.replace('TeamPlayerSkill_','') | limitTo:3}}</span> -->
          <span class="primary-skill -s{{player.IdPosition}}">{{'Common.'+player.Attributes.PrimarySkill2.Name+'_Acr'|translate}}</span>
        </td>
        <td skill-value="player.Attributes.PrimarySkill2" ng-class="{max: player.Attributes.PrimarySkill2.Max}"></td>
        <td skill-value="player.Attributes.SecondSkill1" ng-class="{max: player.Attributes.SecondSkill1.Max}"></td>
        <td skill-value="player.Attributes.SecondSkill2" ng-class="{max: player.Attributes.SecondSkill2.Max}"></td>
        <td skill-value="player.Attributes.SecondSkill3" ng-class="{max: player.Attributes.SecondSkill3.Max}"></td>
        <td skill-value="player.Attributes.SecondSkill4" ng-class="{max: player.Attributes.SecondSkill4.Max}"></td>
        <td skill-value="player.Attributes.SecondSkill5" ng-class="{max: player.Attributes.SecondSkill5.Max}"></td>
        <td training-limit="player"></td>
        <td ng-if="!player.HasTrainingPlan">
          <input type="checkbox" ng-model="player.checked" ng-change="$ctrl.updateplayersListAtt();">
        </td>
        <td ng-if="player.HasTrainingPlan"><button ng-click="$ctrl.refreshTraining(player)" class="icon-fast-forward" title="{{'PlayerTraining.lblRush'|translate}}"></button></td>
      </tr>
    </table>
  </div>

  <select
    ng-repeat="type in [] | range:4"
    ng-model="$ctrl['_btnType'+type]" ng-change="$ctrl.updateplayersListAtt();">
    <option ng-value="1"></option>
    <option ng-value="2" translate>PlayerTraining.TrainPlan_TreinoHabilidade</option>
    <option ng-value="3" translate>PlayerTraining.TrainPlan_TreinoFisico</option>
    <option ng-value="4" translate>PlayerTraining.TrainPlan_TreinoTecnico</option>
  </select>

  <button ng-disabled="!$ctrl.canTrain" ng-click="$ctrl.train();" class="btn btn-success" translate>PlayerTraining.lblTrain</button>

</div>

