<div class="training">
  <h2>Treinamento</h2>

  <table width="100%" class="training-levels">
    <tr>
      <th></th>
      <th>CRU</th>
      <th>VEL</th>
      <th>RED</th>
      <th>FIN</th>
      <th>DRI</th>
      <th>PAS</th>
      <th>TEC</th>
      <th>MAR</th>
      <th>DES</th>
      <th>DEF</th>
      <th>REF</th>
      <th>CAB</th>
    </tr>
    <tr>
    <td width="200">Níveis de treinamento</td>
      <td align="center" ng-repeat="skill in [] | range:12:1">{{$ctrl.trainingCenter['TeamPlayerSkill' + skill + 'Level']}}</td>
    </tr>
  </table>

  <div class="players-table">
    <table width="100%">
      <thead>
        <tr>
          <th class="icon-t-shirt" title="número"></th>
          <th colspan="1"></th>
          <th class="icon-male" title="idade"></th>
          <th title="potencia/moral"><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i></th>
          <th class="icon icon-plus" title="Lesões"></th>
          <th title="hab 1" colspan="2">hab 1</th>
          <th title="hab 2" colspan="2">hab 2</th>
          <th title="tec">tec</th>
          <th title="vel">vel</th>
          <th title="res">res</th>
          <th title="pas">pas</th>
          <th title="dri">dri</th>
          <th></th>
          <th><input type="checkbox" ng-model="$ctrl.checkAll" ng-change="$ctrl.toggleAll($ctrl.checkAll)" ></th>
        </tr>
      </thead>
      <tr ng-repeat="player in $ctrl.teamPlayers | filter:{TeamPlayerType: $ctrl.teamPlayerType}" class="player">
        <td class="player-shirt">{{player.ShirtNumber}}</td>
        <td align="left">{{player.Name}}</td>
        <td>{{player.Age}}</td>
        <td>
          <div class="player-potential">
            <span ng-repeat="star in [1,2,3,4,5]" class="icon-star{{player.Potential<star?'-o':''}}"></span>
          </div>
        </td>
        <td class="icon icon-plus-square player-injury" ng-class="{'has-injury': player.HasInjury}"></td>
        <td>
          <span class="primary-skill -s{{player.IdPosition}}">{{player.Attributes.PrimarySkill1.Name.replace('TeamPlayerSkill_','') | limitTo:3}}</span>
        </td>
        <td skill-value="player.Attributes.PrimarySkill1"></td>
        <td>
          <span class="primary-skill -s{{player.IdPosition}}">{{player.Attributes.PrimarySkill2.Name.replace('TeamPlayerSkill_','') | limitTo:3}}</span>
        </td>
        <td skill-value="player.Attributes.PrimarySkill2"></td>
        <td skill-value="player.Attributes.SecondSkill1"></td>
        <td skill-value="player.Attributes.SecondSkill2"></td>
        <td skill-value="player.Attributes.SecondSkill3"></td>
        <td skill-value="player.Attributes.SecondSkill4"></td>
        <td skill-value="player.Attributes.SecondSkill5"></td>
        <td training-limit="player"></td>
        <td ng-if="!player.HasTrainingPlan">
          <input type="checkbox" ng-model="player.checked" ng-change="$ctrl.updateplayersListAtt();">
        </td>
        <td ng-if="player.HasTrainingPlan"><button ng-click="$ctrl.refreshTraining(player)" class="icon-fast-forward"></button></td>
      </tr>
    </table>
  </div>

  <select
    ng-repeat="type in [] | range:4"
    ng-model="$ctrl['_btnType'+type]" ng-change="$ctrl.updateplayersListAtt();">
    <option ng-value="1"></option>
    <option ng-value="2">Treino de Habilidade</option>
    <option ng-value="3">Treino Físico</option>
    <option ng-value="4">Treino Técnico</option>
  </select>

  <button ng-disabled="!$ctrl.canTrain" ng-click="$ctrl.train();" class="btn btn-success">treinar</button>

</div>

