.training {
  padding: 15px;
  background-color: #cbdaef;

  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 5px 0;
  }

  h2 {
    color: #4f5776;
    margin-bottom: 15px;
  }

  // button{
  //   // padding: 5px 8px;
  //   // border-radius: 3px;
  //   // border:1px solid #4e5667;
  //   // background: #4e5667;
  //   // color: #ffffff;
  //   // font-weight: 600;
  //   // text-transform: uppercase;
  //   // -webkit-transition: all .5s ease;
  //   // -moz-transition: all .5s ease;
  //   // -ms-transition: all .5s ease;
  //   // -o-transition: all .5s ease;
  //   // transition: all .5s ease;
  //   // &:hover{
  //   //   border:1px solid #4e5667;
  //   //   background: #ffffff;
  //   //   color: #4e5667;
  //   //   cursor: pointer;
  //   // }
  // }
  .training-levels {
    margin-bottom: 20px;

    th {
      text-align: center;
      color: #4e5667;
    }
    td {
      font-size: 16px;
      color: #0078e0;
      font-weight: bold;
    }
  }

  .players-table {
    // max-height: 460px;
    // overflow-y: auto;
    // overflow-x: hidden;

    .checkbox {
      margin:0;
        label{
            color:#9a9a9a;
            font-size: 12px;
            text-transform: uppercase;
            font-weight: 700;
        }
        input[type=checkbox] {
            opacity: 0;
            margin-right: -12px;
            cursor: pointer;
            width: 12px;
            height: 12px;

        }
        input[type=checkbox]:checked + span:before {
            // content: "\e82d";
             content: '\2714';
            color: #0265b3;
        }
        input[type=checkbox] + span:before {
             content: '\2714';
            color: transparent;
            display: inline-block;
            margin-right: 15px;
            width: 15px;
            height: 15px;
            visibility: visible;
            background: transparent;
            border: 1px solid #0265b3;
            border-radius: 2px;
            line-height: 15px;
            text-align: center;
            font-weight: 700;
            font-size: 14px;
        }
    }

    table {
      // max-width: 100%;
      white-space: nowrap;
      font-size: 14px;
      text-align: center;
      // border-collapse:separate;
      border-spacing: 0 2px;
      // color: #4f5776;

      tbody {
        background: #eee;
      }

      th {
        text-align: center;
      }

      [skill-value].max {

        .add-value {
          display: none;
        }
        .current-value {
          position: relative;
          color: #0078e0;

          &:before {
            content: "";
            // background: #0078e0;
            width: 100%;
            // height: 2px;
            position: absolute;
            // line-height: 0;
            border: 1px solid;
            // left: 15px;
            // right: 15px;
          }
        }
      }

      img {
        vertical-align: middle;
      }
      button{
        border:none;
        border-radius: 3px;
      }
    }

    .player {
      // background-color: white;
    }

    .player-shirt {
      color: #fff;

      &.-s1 {
        background-color: #ff9c00;
      }
      &.-s2 {
        background-color: #00a8ff;
      }
      &.-s3 {
        background-color: #7f7f7f;
      }
      &.-s4 {
        background-color: #006600;
      }
      &.-s5 {
        background-color: #db2d2d;
      }
    }

    .player-potential {
      font-size: 6px;
    }

    .player-injury:not(.has-injury) {
      opacity: 0.25;
    }

    .primary-skill {
      font-size: 10px;
      padding: 2px;
      color: #fff;

      &.-s1 {
        background-color: #ff9c00;
      }
      &.-s2 {
        background-color: #00a8ff;
      }
      &.-s3 {
        background-color: #7f7f7f;
      }
      &.-s4 {
        background-color: #006600;
      }
      &.-s5 {
        background-color: #db2d2d;
      }
    }

    .-add {
      color: #00a8ff;
      &:before {
        content: "+";
      }
    }
    .-dec {
      color: red;
    }
  }

  [training-limit] {
    width: 50px;
    vertical-align: middle;
    div {
      border: 1px solid;
      border-radius: 10px;
      // height: 5px;
    }
    span {
      display: block;
      background-color: #0179e2;
      height: 3px;
    }
  }

  button.icon-fast-forward {
    padding: 0;
    line-height: 1;
  }

  select{
    width: 21%;
    margin-top: 25px;
    margin-right: 1.2%;
    background: url('../app/images/arrow.png') no-repeat 95% 50% #ffffff;
    -moz-appearance:none;
    -webkit-appearance: none;
    appearance:none;
    padding: 5px;
    color:#4e5667;
  }
}

