<h2>Compre mais espaço...</h2>
<p>Você possui {{$appCtrl.user.MaxProPlayers}} de 40 vagas disponíveis.</p>

<div class="spot-prices">
  <div ng-repeat="price in $ctrl.teamSpotPrices.Prices" class="spot-price"
    ng-class="{
      acquired: $index + 16 < $appCtrl.user.MaxProPlayers,
      available: $index + 16 == $appCtrl.user.MaxProPlayers
    }">
    <i class="icon-user"></i>
    <div class="add">
      <p class="icon-plus"></p>
      <p>{{$ctrl.getSerie($index)}}</p>
    </div>
    <div class="price" ng-if="$index + 16 >= $appCtrl.user.MaxProPlayers">
      <i class="icon icon-credit-card"></i>
      <p>De: {{price.CreditPrice}}</p>
      <p>Por: {{price.DiscountPrice}}</p>
    </div>
  </div>
</div>
