<h2 translate>TrainingCenterPreview.lblTitle</h2>
<div class="submenu pull-right">
  <button class="btn btn-xs btn-primary" ng-click="$ctrl.trainingCenterRecycle()" title="{{'StadiumPreview.lblReform'|translate}}"><i class="icon-wrench"></i></button>
</div>
<div class="structure-training-center clearfix">
  <h4>{{'TrainingCenterNames.'+$ctrl.trainingCenter.Name|translate}}</h4>
  <div class="clearfix">
    <img ng-src="{{$ctrl.trainingCenter.Picture}}" class="training-center-picture">
    <div class="training-center-itens">
      <structure-item-list icon="icon-traffic-cone" >
        <structure-item ng-repeat="i in [1,2,3,4,5,6,7,8,9]"
          item="$ctrl.trainingCenter.TrainingCenterItems | first:'Slot=='+i | first"
          lock="$ctrl.trainingCenter.MaxItemSlot < i"
          on-select="$ctrl.trainingCenterReform(i)" />
      </structure-item-list>
    </div>
  </div>

  <h3 translate>TrainingCenterPreview.lblTrainingLevel</h3>

  <ul class="list-inline text-center skill-levels">
    <li ng-repeat="skill in ['Cruzamento','Velocidade','Resistencia','Finalizacao','Drible','Passe','Tecnica','Marcacao','Desarme','DefesaGol','Reflexos','Cabeceio']" title="{{'Common.TeamPlayerSkill_'+skill|translate}}">
      <h5>{{'Common.TeamPlayerSkill_'+skill+'_Acr'|translate|uppercase}}</h5>
      <strong>{{$ctrl.trainingCenter['TeamPlayerSkill'+($index+1)+'Level']}}</strong>
    </li>
  </ul>
</div>
