<div ng-class="{sale: $ctrl.item.SalePrice}">
  <i class="icon-star" ng-class="{hidden: !$ctrl.item.SalePrice}"></i>
  <h4 class="item-name">
    {{'Items.'+$ctrl.item.Name|translate}}
    <span ng-if="$ctrl.item.Quantity">(x{{$ctrl.item.Quantity}})</span>
  </h4>
  <img ng-src="{{$ctrl.item.Picture}}" class="item-picture">

  <div class="item-effects">
    <div ng-repeat="effect in $ctrl.item.Effects" class="item-effect" title="{{'Skills.skill_'+effect.IdTeamPlayerSkill|translate}}">
      <!-- <label>{{'Skills.'+effect.Description|translate}}</label> -->
      <label>{{'Skills.skill_'+effect.IdTeamPlayerSkill+'_acr'|translate}}</label>
      +{{effect.Effect}}
    </div>
    <div class="item-effect">
      <label>--</label>
      --
    </div>
    <div class="item-effect -duration" title="{{$ctrl.item.Duration || $ctrl.item.Durability}} {{'ItemsScreen.'+($ctrl.item.Durability?'trains':'games')|translate}}">
      <label><i class="icon icon-clock"></i></label>
      {{$ctrl.item.Duration || $ctrl.item.Durability}}
    </div>
  </div>
  <div ng-if="!$ctrl.equip">
    <div ng-if="$ctrl.item.MoneyPrice || $ctrl.item.CreditPrice" ng-click="$ctrl.itenPurchase($ctrl.item)">
      <div ng-if="$ctrl.item.MoneyPrice" class="item-price">
        <i class="icon icon-money"></i>
        <p>{{$ctrl.item.MoneyPrice | currency}}</p>
      </div>
      <div ng-if="$ctrl.item.CreditPrice" class="item-price">
        <i class="icon icon-credit-card"></i>
        <div ng-if="$ctrl.item.SalePrice">
          <p class="-was">{{'ItemsScreen.lblOldPrice'|translate}} {{$ctrl.item.CreditPrice}}</p>
          <p>{{'ItemsScreen.lblNewPrice'|translate}} {{$ctrl.item.SalePrice}}</p>
        </div>
        <div ng-if="!$ctrl.item.SalePrice">
          <p>{{$ctrl.item.CreditPrice}}</p>
        </div>
      </div>
    </div>
    <div ng-if="!$ctrl.item.MoneyPrice && !$ctrl.item.CreditPrice" ng-click-="$ctrl.itenPurchase($ctrl.item)">
      <div class="sell-item" ng-if="$ctrl.item.CreditSellPrice || $ctrl.item.MoneySellPrice" ng-click="$ctrl.sellItem()">
        <p ng-if="$ctrl.item.CreditSellPrice"><i class="icon icon-credit-card"></i>{{$ctrl.item.CreditSellPrice}}</p>
        <p ng-if="$ctrl.item.MoneySellPrice"><i class="icon icon-money"></i>{{$ctrl.item.MoneySellPrice | currency}}</p>
      </div>
      <div class="discart-item" ng-if="!$ctrl.item.CreditSellPrice && !$ctrl.item.MoneySellPrice" ng-click="$ctrl.discartItem()">
        <p><i class="icon-cancel-circled"></i>Descartar</p>
      </div>
    </div>
  </div>
  <div ng-if="$ctrl.equip" class="equip-item" ng-click="$ctrl.itemConfirm()">
    <p>Equipar</p>
  </div>
</div>
