item {
  // height: 80px !important;
  padding: 5px;
  background: #fff;
  box-sizing: border-box;
  // border: 1px solid;

  .item-name {
    margin: 5px 0;
    text-align: center;
    font-size: 14px;
  }

  .item-picture {
    float: left;
    margin-right: 5px;
    width: 58px;
  }

  .item-effects {
    // padding-left: 2.5px;
    // margin: -2.5px;
    margin-bottom: 5px;
    box-sizing: border-box;
    display: flex;
  }

  .item-effect {
    flex: 1;
    overflow: hidden;
    text-align: center;
    // margin: 0 2.5px;
    border-radius: 3px;
    background-color: #ccc;
    line-height: 30px;

    &:not(:last-child) {
      margin-right: 5px;
    }

    label {
      display: block;
      background-color: #0065b5;
      font-size: 10px;
      line-height: 15px;
      color: #fff;
    }
  }

  .item-price {
    display: flex;
    background-color: #ccc;
    height: 35px;
    align-items: center;
    cursor: pointer;

    .icon {
      width: 35px;
      text-align: center;
      font-size: 18px;
    }

    p {
      font-size: 11px;
      margin: 0;
      font-weight: bold;
    }
  }

  .discart-item,
  .sell-item {
    line-height: 34px;
    margin-left: 50px;
    display: flex;
    padding: 0 5px;
    cursor: pointer;

    p {
      margin: 0;
      font-size: 12px;
      color: #fff;
    }

    i {
      font-size: 18px;
      margin-right: 5px;
      &:not(.icon-cancel-circled) {
        color: #000;
      }
    }
  }

  .sell-item {
    background: #00b44b;
  }

  .discart-item {
    background: #f54f4f;
    text-transform: uppercase;
  }

}
