<div class="row">
  <div class="col-xs-6">
    <h4 translate>Common.Ranking</h4>
    <table class="table table-condensed table-striped">
      <tr ng-repeat="team in $ctrl.commonSummary.Ranking" ng-class="{first: team.Position == 1}">
        <td class="text-center">{{team.Position}}</td>
        <td><img ng-src="https://o2games-golaco.s3.amazonaws.com/flags/{{team.TeamFlag}}.jpg" class="team-flag"></td>
        <td align="center"><img ng-src="{{team.TeamBadge}}" class="team-badge"></td>
        <td>{{team.TeamName}}</td>
        <td align="center">{{team.Points}}</td>
      </tr>
    </table>
  </div>

  <div class="col-xs-6">
    <h4 class="text-right" translate>Common.TopStrikers</h4>
    <table class="table table-condensed table-striped">
      <tr ng-repeat="player in $ctrl.commonSummary.BestTeamPlayers">
        <td class="text-center">{{'Ordinals.'+($index+1)|translate}}</td>
        <td><img ng-src="https://o2games-golaco.s3.amazonaws.com/flags/{{player.TeamFlag}}.jpg" class="player-flag"></td>
        <td align="center"><img ng-src="{{player.TeamBadge}}"></td>
        <td>{{player.TeamPlayerName}}</td>
        <td align="center">{{player.Goals}}</td>
      </tr>
    </table>
  </div>
</div>
<!-- <div style="clear: both;"></div> -->

<div class="row">
  <div class="col-xs-6">
    <h4 translate>Common.BestOffense</h4>
    <table class="table">
      <tr>
        <td><img ng-src="https://o2games-golaco.s3.amazonaws.com/flags/{{$ctrl.commonSummary.BestOffense.TeamFlag}}.jpg" class="team-flag"></td>
        <td align="center"><img ng-src="{{$ctrl.commonSummary.BestOffense.TeamBadge}}"></td>
        <td>{{$ctrl.commonSummary.BestOffense.TeamName}}</td>
        <td align="right">{{$ctrl.commonSummary.BestOffense.Goals}}</td>
      </tr>
    </table>
  </div>
  <div class="col-xs-6">
    <h4 translate>Common.BestOffense</h4>
    <table class="table">
      <tr>
        <td><img ng-src="https://o2games-golaco.s3.amazonaws.com/flags/{{$ctrl.commonSummary.BestDefense.TeamFlag}}.jpg" class="team-flag"></td>
        <td align="center"><img ng-src="{{$ctrl.commonSummary.BestDefense.TeamBadge}}"></td>
        <td>{{$ctrl.commonSummary.BestDefense.TeamName}}</td>
        <td align="right">{{$ctrl.commonSummary.BestDefense.Goals}} gols</td>
      </tr>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-xs-6">
    <h4 translate>Common.LastMatch</h4>
    <h5>{{($ctrl.commonSummary.Match1 || $ctrl.commonSummary.LastMatch).MatchDate | date:'short'}}</h5>
    <match-element match="$ctrl.commonSummary.LastMatch" />
  </div>

  <div class="col-xs-6">
    <h4 class="text-right" translate>Common.NextMatch</h4>
    <h5 class="text-right">{{($ctrl.commonSummary.Match2 || $ctrl.commonSummary.NextMatch).MatchDate | date:'short'}}</h5>
    <match-element match="$ctrl.commonSummary.Match2 || $ctrl.commonSummary.NextMatch" />
  </div>
</div>
<!-- <pre>{{$ctrl.commonSummary | json}}</pre> -->
