.ngdialog.ngdialog-friendly-match {

  .ngdialog-content {
    width: 750px;
    padding: 25px;

    > :first-child {
      margin-top: 0;
    }
  }

  h2,
  h4 {
    // margin: 0;
  }

  .team-filter {
    overflow: auto;
    position: relative;
    margin-bottom: 10px;

    > label {
      width: 50%;
      display: block;
      float: left;
    }

    > button {
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }

  .half {
    float: left;
    width: 50%;
  }

  .friendly-teams {
    font-size: 11px;
    // white-space: nowrap;
    cursor: pointer;

    tr:hover {
      background: #feffbd;
    }

    tr.active {
      background: #ddd;
    }

    td {
      padding: 4px 2px;
      line-height: 1;
    }
  }

  .current-match {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    + button {
      margin: auto;
      padding: 5px 15px;
      display: block;
    }
  }

}
