<h2>Amistoso</h2>

<h3>Pesquisar</h3>

<div class="team-filter">
  <label>
    Time
    <input type="type" name="" ng-model="$ctrl.filter.TeamName">
  </label>
  <label>
    Treinador
    <input type="type" name="" ng-model="$ctrl.filter.Couch">
  </label>
  <label>
    Série
    <label>
      <input type="checkbox" ng-model="$ctrl.filter.League.D">D
    </label>
    <label>
      <input type="checkbox" ng-model="$ctrl.filter.League.C">C
    </label>
    <label>
      <input type="checkbox" ng-model="$ctrl.filter.League.B">B
    </label>
    <label>
      <input type="checkbox" ng-model="$ctrl.filter.League.A">A
    </label>
  </label>
  <label ng-init-="$ctrl.filter.Country=$appCtrl.countryList[0].id">
    País
    <!-- <select ng-options="item.id as item.name for item in $appCtrl.countryList track by item.id" ng-model="$ctrl.filter.Country"></select> -->
    <select ng-model="$ctrl.filter.Country">
      <option ng-value="0" selected="selected">Todos</option>
      <option ng-repeat="country in $appCtrl.countryList" ng-value="country.id">{{country.name}}</option>
    </select>
  </label>
  <button ng-click="$ctrl.findFriendlyMatches($ctrl.filter)" ng-disabled="!($ctrl.filter.League.D || $ctrl.filter.League.C || $ctrl.filter.League.B || $ctrl.filter.League.A)">Pesquisar</button> </div>

<div>
  <label><input type="checkbox" ng-model="$ctrl.useItens" ng-false-value="true" ng-true-value="false"> Não usar itens ao desafiar</label>
</div>

<div class="row">
  <div class="col-xs-6">
    <h4>Equipes selecionadas</h4>
    <table width="100%" class="friendly-teams">
      <tr ng-repeat="team in $ctrl.friendlyMatches" ng-click="$ctrl.currentMatch = team" ng-class="{active: $ctrl.currentMatch == team}">
        <td><img ng-src="https://o2games-golaco.s3.amazonaws.com/flags/{{team.Flag}}.jpg" height="14"></td>
        <td>{{team.League}}</td>
        <td>{{team.Name}}</td>
        <td align="right" class="small">{{team.UserName}}</td>
      </tr>
    </table>
  </div>

  <div class="col-xs-6">
    <h4>Partida Selecionada</h4>
    <div class="current-match">
      <div>
        <img ng-src="{{$ctrl.me.BadgePicture}}" height="129" width="129">
        <h4>{{$ctrl.me.Acronym}}</h4>
      </div>
      X
      <div>
        <img ng-src="{{$ctrl.currentMatch.BadgePicture}}" height="129" width="129">
        <h4>{{$ctrl.currentMatch.Acronym}}</h4>
      </div>
    </div>
    <button ng-click="$ctrl.play($ctrl.currentMatch)">Jogar</button>
  </div>
</div>
