.app {
  min-height: 500px;
<<<<<<< destination:072a09843eb0783ef2cae6aaf77995df31f04398
  width: 100%;
  min-width: 768px;
  max-width: 960px;
  margin: auto;
=======
  max-width: 800px;
  margin:0 auto;
>>>>>>> source:0283cbc856dcde4a97fca282c2dd540a980a3035
  border: 1px solid #f1f1f1;
  display: flex;
  flex-direction: column;

  .app-content {
    flex: 1;
  }
}
