<div>
  <div class="financial-balance" title="Dinheiro Virtual">
    <i class="icon icon-money"></i>
    <button title="Mais Dinheiro Virtual">+</button>
    <span>{{HeaderData.FinancialBalance | currency}}</span>
  </div>
  <div class="credit-balance" title="Créditos">
    <i class="icon icon-credit-card"></i>
    <button title="Mais Créditos">+</button>
    <span>{{HeaderData.CreditBalance}}</span>
  </div>
  <div class="suportters">
    <i class="icon icon-users"></i>
    <span>{{HeaderData.Suportters}}</span>
  </div>
</div>
