<h2 translate>ItemsScreen.mdlPurchaseTitle</h2>
<h5 translate>ItemsScreen.mdlPurchaseDescription</h5>

<div class="item-details clearfix">
  <img ng-src="{{$ctrl.item.Picture}}" class="item-picture">
  <h4 class="item-name">
    {{'Items.'+$ctrl.item.Name|translate}}
    <span ng-if="$ctrl.item.Quantity">(x{{$ctrl.item.Quantity}})</span>
  </h4>
  <div class="item-effects">
    <div ng-repeat="effect in $ctrl.item.Effects" class="item-effect" title="{{'Skills.skill_'+effect.IdTeamPlayerSkill|translate}}">
      <label>{{'Skills.skill_'+effect.IdTeamPlayerSkill+'_acr'|translate}}</label>
      +{{effect.Effect}}
    </div>
    <div class="item-effect">
      <label>--</label>
      --
    </div>
    <div class="item-effect -duration" title="{{$ctrl.item.Duration || $ctrl.item.Durability}} {{'ItemsScreen.'+($ctrl.item.Durability?'trains':'games')|translate}}">
      <label><i class="icon icon-clock"></i></label>
      {{$ctrl.item.Duration || $ctrl.item.Durability}}
    </div>
  </div>
</div>

<div class="item-qty">
  <label ng-init="$ctrl.qty=1">
    <span translate>ItemsScreen.lblQuantity</span>
    <input type="number" min="1" max="999" ng-model="$ctrl.qty" class="text-right" >
  </label>
  <span ng-if="$ctrl.item.MoneyPrice"><i class="icon icon-money"></i> {{($ctrl.item.MoneyPrice)*$ctrl.qty | currency}}</span>
  <span ng-if="$ctrl.item.CreditPrice"><i class="icon icon-credit-card"></i> {{($ctrl.item.SalePrice || $ctrl.item.CreditPrice)*$ctrl.qty}}</span>
</div>

<div class="ngdialog-buttons text-right">
  <button type="button" class="btn btn-icon" ng-click="closeThisDialog()"><i class="icon-times"></i></button>
  <button type="button" class="btn btn-icon btn-primary" ng-click="$ctrl.confirm($ctrl.qty)"><i class="icon-check"></i></button>
</div>

<!-- <item value="$ctrl.item"></item> -->
