.ngdialog.ngdialog-player-manager {

  .ngdialog-content {
    width: 750px;
    // height: 500px;
  }

  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
  }

  .left-content {
    width: 150px;
    margin-right: 20px;
    float: left;
    text-align: center;
  }

  .player-picture {
    position: relative;
    display: inline-block;

    img {
      vertical-align: middle;
    }

    .prev-player,
    .next-player {
      position: absolute;
      top: 50%;
      height: 25px;
      margin-top: -12.5px;
    }

    .prev-player {
      left: -10px;
    }
    .next-player {
      right: -10px;
    }

    .player-shirt-number {
      position: absolute;
      right: 0;
      top: 0;
      width: 40px;
      text-align: center;
      background-color: white;
      border-radius: 0 0 0 5px;
    }

    .player-flag {
      position: absolute;
      bottom: 0;
    }

  }

  .manager-itens {
    margin: 10px 0 30px;

    button {
      width: 40px;
      font-size: 20px;
      line-height: 40px;
    }
  }

  .manager-menu {
    label {
      display: block;
      margin-bottom: 5px;
      input {
        display: none;

        &:checked + span {
          background-color: #ccc;
        }
      }

      span {
        display: block;
        background-color: white;
        &:hover {
          background-color: #ccc;
        }
      }
    }


  }

  .manager-content {
    margin-left: 170px;
  }

}
