<div class="half">
  <h4>Atributos</h4>
  <div class="player-attributes">
    <div ng-repeat="attribute in $ctrl.currentPlayer.Attributes" class="player-attribute">
      <span class="att-title">{{attribute.Name.replace('TeamPlayerSkill_','') || '--' | limitTo:3}}</span>
      <hr>
      <div class="att-bar">
        <div class="att-value" style="height: {{attribute.Value}}%"></div>
        <div class="att-modifier" style="height: {{$ctrl.getEffectModifier(attribute.Id)}}%"></div>
      </div>
      <hr>
      {{attribute.Value}}
    </div>
  </div>

  <h4>Cartõers por competição</h4>

  <div class="player-cards">
    <div ng-repeat="card in $ctrl.currentPlayer.Cards" class="player-card">
      <p class="icon-trophy"></p>
      <p class="icon-card -{{card.cardType==1?'yellow':'red'}}"></p>
    </div>
    <h5 ng-if="!$ctrl.currentPlayer.Cards.length">sem cartões</h5>
  </div>

</div>

<div style="clear: both;"></div>

<pre>{{$ctrl.currentPlayer | json}}</pre>
