<h2 translate>PlayerDetail.lblTitle</h2>

<h3>
  <button class="btn-link icon-pencil-square" ng-click="$ctrl.changePlayerName();" title="{{'TeamPreview.editTeamDetailsTooltip'|translate}}"></button><!--
   -->{{$ctrl.currentPlayer.Name}}
</h3>

<div class="clearfix">
  <div class="left-content">
    <div class="player-picture">
      <img ng-src="{{$ctrl.currentPlayer.Picture}}">
      <img ng-src="https://o2games-golaco.s3.amazonaws.com/flags/{{$ctrl.currentPlayer.Flag}}.jpg" class="player-flag">
      <span class="player-shirt-number" ng-click="$ctrl.updateShirtNumber()">{{$ctrl.currentPlayer.ShirtNumber}}</span>
      <button ng-click="$ctrl.prevPlayer()" class="prev-player" >«</button>
      <button ng-click="$ctrl.nextPlayer()" class="next-player" >»</button>
    </div>

    <div class="manager-itens">
      <h6 translate>PlayerDetail.lblEquipItems</h6>

      <span ng-repeat="type in ['ShirtItem', 'ShortItem', 'CleatsItem']" class="slot">
        <button
          ng-if="!$ctrl.currentPlayer[type]"
          ng-click="$ctrl.playerItemEquip($index+1)"
          class="item"
        ><i class="icon-{{['t-shirt', 'shorts', 'shoes-snickers-streamline'][$index]}}"></i></button>
        <span ng-if="$ctrl.currentPlayer[type]">
          <button class="item" ng-click="$ctrl.playerItemEquip($index+1)">
            <img ng-src="{{$ctrl.currentPlayer[type].Picture}}">
          </button>
          <button ng-click="$ctrl.unsetTeamPlayerItem($index+1)" class="unset-item"><i class="icon-times"></i></button>
        </span>
      </span>

      <!-- <button
        ng-if="!$ctrl.currentPlayer.ShortItem"
        ng-click="$ctrl.playerItemEquip(2)"
        class="icon-shorts"
      ></button>
      <button ng-if="$ctrl.currentPlayer.ShortItem">
        <img ng-src="{{$ctrl.currentPlayer.ShortItem.Picture}}">
      </button>

      <button
        ng-if="!$ctrl.currentPlayer.CleatsItem"
        ng-click="$ctrl.playerItemEquip(3)"
        class="icon-shoes-snickers-streamline"
      ></button>
      <button ng-if="$ctrl.currentPlayer.CleatsItem">
        <img ng-src="{{$ctrl.currentPlayer.CleatsItem.Picture}}">
      </button> -->

    </div>

    <div class="manager-menu">
      <label ng-click="$ctrl.statistics()">
        <span translate>PlayerDetail.btStats</span>
      </label>
      <label ng-click="$ctrl.healthHistory()">
        <span translate>PlayerDetail.btHealthHistory</span>
      </label>
      <label>
      <label ng-click="$ctrl.history()">
        <span translate>PlayerDetail.btPlayerHistory</span>
      </label>
      <label ng-click="$ctrl.sellPlayer()">
        <span translate>PlayerDetail.btSell</span>
      </label>
    </div>

  </div>

  <div ng-include="'player-manager-general.html'" class="manager-content player-manager-general" ></div>
</div>
