.ngdialog.ngdialog-player-manager-statistics {
  .ngdialog-content {
    width: 600px;
    height: 400px;
  }

  .half {
    width: 50%;
    float: left;
    padding: 0 30px;
  }

  dt {
    float: left;
    clear: both;
  }

  dd {
    float: right;
  }

}
