<h2>Gerenciar Jogador</h2>

<h3>{{$ctrl.currentPlayer.Name}}</h3>

<div class="left-content">
  <div class="player-picture">
    <img ng-src="{{$ctrl.currentPlayer.Picture}}">
    <img ng-src="https://o2games-golaco.s3.amazonaws.com/flags/{{$ctrl.currentPlayer.Flag}}.jpg" class="player-flag">
    <span class="player-shirt-number">{{$ctrl.currentPlayer.ShirtNumber}}</span>
    <button ng-click="$ctrl.prevPlayer()" class="prev-player" >«</button>
    <button ng-click="$ctrl.nextPlayer()" class="next-player" >»</button>
  </div>
</div>

<!-- {{$ctrl.currentPlayer | json}} -->

<div style="clear: both;"></div>

<div class="stats-menu">
  <label>
    <input type="radio" ng-model="current" value="main-stats-general.html" ng-checked="true">
    Geral
  </label>
  <label>
    <input type="radio" ng-model="current" value="main-stats-stats.html">
    Estatítsticas
  </label>
  <label title="Histórico de Ligas">
    <input type="radio" ng-model="current" value="main-stats-leagues-history.html">
    Histórico
  </label>
</div>

<ng-include src="current||'main-stats-general.html'" ></ng-include>
