<h2 translate>PlayerDetail.lblHTitle</h2>

<table width="100%">
  <tr>
    <th translate align="left">PlayerDetail.lblHTeam</th>
    <th translate align="left">PlayerDetail.lblHLesion</th>
    <th translate>PlayerDetail.lblHDate</th>
    <th translate>PlayerDetail.lblHReplay</th>
  </tr>
  <tr ng-repeat="healthHistory in $ctrl.currentPlayer.healthHistory">
    <td>{{healthHistory.TeamName}}</td>
    <td>{{healthHistory.Health}}</td>
    <td align="center">{{healthHistory.Date}}</td>
    <td align="center"><button ng-click="replay(healthHistory.IdMatch)">Replay</button></td>
  </tr>
</table>
