<div class="players">
  <div class="players-header">
    <div class="players-menu">
      {{$appCtrl.user.MaxProPlayers}}/40
      <button class="icon-user-add" ng-click="$ctrl.extraPlayer()" title="{{'PlayerView.lblSlotSaleTitle'|translate}}"></button>
      |
      <input type="radio" ng-model="$ctrl.teamPlayerType" value="1" ng-checked="true" class="icon-user" title="{{'PlayerView.btnProfessionals'|translate}}">
      <input type="radio" ng-model="$ctrl.teamPlayerType" value="2" class="icon-junior" title="{{'PlayerView.btnJuniors'|translate}}">
      <button class="icon-up-thin" ng-click="$ctrl.moraleRecovery()" title="{{'PlayerView.btnMorale'|translate}}"></button>
    </div>
    <h2 translate>PlayerView.lblTitle</h2>
  </div>

  <div class="players-table">
    <table width="100%">
      <tr>
        <th colspan="3"></th>
        <th class="text-center icon-t-shirt" title="{{'PlayerView.lblNumber'|translate}}"></th>
        <th class="text-center icon-male" title="{{'PlayerView.lblAge'|translate}}"></th>
        <th class="text-center" title="{{'PlayerView.lblPotentialMoral'|translate}}"><i class="icon-star"></i>/<i class="icon-arrow-up"></i></th>
        <th class="text-center icon icon-plus" title="{{'PlayerView.lblInjury'|translate}}"></th>
        <th class="text-center icon-t-shirt" title="{{'PlayerView.lblShirt'|translate}}"></th>
        <th class="text-center icon-shorts" title="{{'PlayerView.lblShorts'|translate}}"></th>
        <th class="text-center icon-shoes-snickers-streamline" title="{{'PlayerView.lblCleats'|translate}}"></th>
        <th class="text-center icon-card" title="{{'PlayerView.lblCards'|translate}}"></th>
        <th class="text-center" colspan="2"><span translate>PlayerView.lblPrimarySkill</span> 1</th>
        <th class="text-center" colspan="2"><span translate>PlayerView.lblPrimarySkill</span> 2</th>
        <th class="text-center" title="{{'Common.TeamPlayerSkill_Tecnica'|translate}}" translate>Common.TeamPlayerSkill_Tecnica_Acr</th>
        <th class="text-center" title="{{'Common.TeamPlayerSkill_Velocidade'|translate}}" translate>Common.TeamPlayerSkill_Velocidade_Acr</th>
        <th class="text-center" title="{{'Common.TeamPlayerSkill_Resistencia'|translate}}" translate>Common.TeamPlayerSkill_Resistencia_Acr</th>
        <th class="text-center" title="{{'Common.TeamPlayerSkill_Passe'|translate}}" translate>Common.TeamPlayerSkill_Passe_Acr</th>
        <th class="text-center" title="{{'Common.TeamPlayerSkill_Drible'|translate}}" translate>Common.TeamPlayerSkill_Drible_Acr</th>
      </tr>
      <tr ng-repeat="player in $ctrl.teamPlayers.TeamPlayers | filter:{TeamPlayerType: $ctrl.teamPlayerType}" class="player">
        <td width="25" class="player-country -s{{player.IdPosition}}"><img ng-src="https://o2games-golaco.s3.amazonaws.com/flags/{{player.Flag}}.jpg"></td>
        <td><img ng-src="{{player.Picture}}" height="20"></td>
        <td align="left">{{player.Name}}</td>
        <td>{{player.ShirtNumber}}</td>
        <td>{{player.Age}}</td>
        <td>
          <div class="player-potential">
            <span ng-repeat="star in [1,2,3,4,5]" class="icon-star{{player.Potential<star?'-o':''}}"></span>
          </div>
          <div class="player-moral"><span ng-class="{
            low: player.Moral <= 33,
            medium: player.Moral > 33 && player.Moral <= 66,
            hight: player.Moral > 66
          }" ng-style="{width: player.Moral+'%'}"></span></div>
        </td>
        <td class="icon icon-plus-square player-injury" ng-class="{'has-injury': player.HasInjury}"></td>
        <td class="player-item icon-t-shirt" ng-class="{equiped: player.ShirtItem}" title="{{player.ShirtItem.Name}}"><!-- <img ng-src="{{player.ShirtItem.Picture}}" height="15"> --></td>
        <td class="player-item icon-shorts" ng-class="{equiped: player.ShortItem}" title="{{player.ShortItem.Name}}"><!-- <img ng-src="{{player.ShortItem.Picture}}" height="15"> --></td>
        <td class="player-item icon-shoes-snickers-streamline" ng-class="{equiped: player.CleatsItem}" title="{{player.CleatsItem.Name}}"><!-- <img ng-src="{{player.CleatsItem.Picture}}" height="15"> --></td>
        <td class="player-item icon-card" ng-class="{equiped: player.Cards.length}"></td>
        <td title="{{'Common.'+player.Attributes.PrimarySkill1.Name|translate}}">
          <span class="primary-skill -s{{player.IdPosition}}">{{'Common.'+player.Attributes.PrimarySkill1.Name+'_Acr'|translate}}</span>
        </td>
        <td>{{player.Attributes.PrimarySkill1.Value}}</td>
        <td title="{{'Common.'+player.Attributes.PrimarySkill2.Name|translate}}">
          <span class="primary-skill -s{{player.IdPosition}}">{{'Common.'+player.Attributes.PrimarySkill2.Name+'_Acr'|translate}}</span>
        </td>
        <td>{{player.Attributes.PrimarySkill2.Value}}</td>
        <td>{{player.Attributes.SecondSkill1.Value}}</td>
        <td>{{player.Attributes.SecondSkill2.Value}}</td>
        <td>{{player.Attributes.SecondSkill3.Value}}</td>
        <td>{{player.Attributes.SecondSkill4.Value}}</td>
        <td>{{player.Attributes.SecondSkill5.Value || '--'}}</td>
        <td width="1">
          <button class="btn btn-icon btn-sm" ng-class="{blink: !player.HasTrainingPlan}" title="{{player.HasTrainingPlan?'PlayerView.lblTraining':'PlayerView.NotTraining'|translate}}"><i class="icon-traffic-cone"></i></button>
        </td>
        <td width="1">
          <button class="btn btn-icon btn-sm btn-primary" ng-click="$ctrl.playerManager(player.Id)" ng-disabled="player.TeamPlayerType==2" title="{{'PlayerView.lblManage'|translate}}"><i class="icon-widget"></i></button>
        </td>
      </tr>
    </table>
  </div>
</div>
