.ngdialog.ngdialog-auction-search {

  .ngdialog-content {
    width: 750px;
    height: 500px;
    padding: 25px;

    > :first-child {
      margin-top: 0;
    }
  }

  .auction-filter {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 80px;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0 -5px;
    > * {
      margin: 0 5px;
    }

    .btn {
      // align-self: stretch;
      width: 100px;
    }

    .form-control {
      max-width: 110px;
      padding-left: 5px;
      padding-right: 5px;
    }

    label {
      font-size: 12px;
    }

    select {
      width: 100px;
    }

    .price,
    .name {
      width: 60px;
    }
    .age {
      width: 30px;
    }
    .price,
    .age {
      + label {
        position: relative;
        width: 15px;
        font-size: 10px;
        margin-left: -5px;
        padding-left: 6px;
        margin-bottom: 0;

        &:before {
          content: "";
          position: absolute;
          width: 5px;
          border-top: 1px solid #aaa;
          left: 0;
          top: 50%;
        }
      }
    }
  }

  .auction-players {
    margin: 20px -5px 0;
  }

  .auction-player {
    height: 250px;
    border: 1px solid;
    margin: 0 5px;
  }

  .auction-slick-nav {
    text-align: center;
    margin: 20px 0 0;

    .btn {
      outline: none;
    }

    .dots {
      display: inline-block;
      margin: 0 5px;
      button {
        // appearance: none;
        border: 0;
        line-height: 30px;
        width: 30px;
        background: white;
        outline: none;
      }
      .slick-active button {
        background: #ddd;
        font-weight: bold;
      }
    }

  }

}
