<h2>Busca de jogadores</h2>

<form class="auction-filter form-inline" ng-submit="$ctrl.search(filter)" novalidate>
  <div class="form-group-sm">
    <label class="small" translate>Common.PlayerPosition</label>
    <select class="form-control" ng-model="filter.InitialPosition">
      <option ng-value="" translate>Common.allF</option>
      <option ng-value="1" translate>Common.TeamPlayerPosition_Goleiro</option>
      <option ng-value="2" translate>Common.TeamPlayerPosition_Zagueiro</option>
      <option ng-value="3" translate>Common.TeamPlayerPosition_Lateral</option>
      <option ng-value="4" translate>Common.TeamPlayerPosition_MeioCampo</option>
      <option ng-value="5" translate>Common.TeamPlayerPosition_Atacante</option>
    </select>
  </div>
  <div class="form-group-sm">
    <label class="small" translate>Common.PlayerPotential</label>
    <select class="form-control" ng-model="filter.Potential">
      <option ng-value="" translate>Common.all</option>
      <option ng-value="1">1</option>
      <option ng-value="2">2</option>
      <option ng-value="3">3</option>
      <option ng-value="4">4</option>
      <option ng-value="5">5</option>
    </select>
  </div>
  <div class="form-group-sm">
    <label class="small" translate>Common.Quality</label>
    <select class="form-control" ng-model="filter.LevelQuality">
      <option ng-value="" translate>Common.allF</option>
      <option ng-value="1" translate>PlayerQuality.beginner</option>
      <option ng-value="2" translate>PlayerQuality.discovery</option>
      <option ng-value="3" translate>PlayerQuality.star</option>
      <option ng-value="4" translate>PlayerQuality.phenomenon</option>
      <option ng-value="5" translate>PlayerQuality.worldclass</option>
      <option ng-value="6" translate>PlayerQuality.legendary</option>
    </select>
  </div>
  <div class="form-group-sm">
    <label class="small" translate>Common.country</label>
    <select class="form-control" ng-model="filter.Country" required>
      <option value="" selected translate>Common.all</option>
      <option ng-repeat="country in $appCtrl.countryList" ng-value="country.id">{{country.name}}</option>
    </select>
  </div>
  <div class="form-group-sm">
    <label class="small" translate>Common.Priece</label>
    <input type="text" class="form-control price" ng-model="filter.PriceMin" required>
    <label translate>Common.from</label>
  </div>
  <div class="form-group-sm">
    <input type="text" class="form-control price" ng-model="filter.PriceMax" required>
    <label translate>Common.to</label>
  </div>
  <div class="form-group-sm">
    <label class="small" translate>PlayerData.age</label>
    <input type="text" class="form-control age" ng-model="filter.YearsOldMin" required maxlength="2">
    <label translate>Common.from</label>
  </div>
  <div class="form-group-sm">
    <label class="small"></label>
    <input type="text" class="form-control age" ng-model="filter.YearsOldMax" required maxlength="2">
    <label translate>Common.to</label>
  </div>
  <div class="form-group-sm">
    <label class="small" translate>Common.name</label>
    <input type="text" class="form-control name" ng-model="filter.PlayerName" required placeholder="">
  </div>
  <button type="submit" class="btn btn-sm btn-primary" translate>Common.search</button>
</form>

<slick
  infinite=false
  dots=true
  slides-to-show="4" slides-to-scroll="4"
  prev-arrow=".auction-slick-nav .slick-prev"
  next-arrow=".auction-slick-nav .slick-next"
  settings="{appendDots:'.auction-slick-nav .dots', dotsClass: 'list-inline'}"
  ng-if="$ctrl.players" class="auction-players"
  >
  <div ng-repeat="player in $ctrl.players" class="auction-player">
    <!-- <div class="auction-player"> -->
      <header>
        <img ng-src="https://o2games-golaco.s3.amazonaws.com/flags/{{player.Flag}}.jpg" class="pull-right player-flag">
        <i class="icon-clock"></i> {{$ctrl.getMoment(player.LimitDate)}}
      </header>
      <p class="player-name">{{player.Name}}</p>
      <dl class="clearfix player-dl">
        <dt translate>Common.team</dt>
        <dd>
          <img ng-src="{{player.Badge}}"> {{player.Acronym}}
        </dd>
        <dt translate>AuctionScreen.lblPosAge</dt>
        <dd>{{('Common.'+player.Position|translate).replace('Meio Campo','Meia')}} / {{player.Age}}</dd>
        <dt translate>Common.PlayerPotential</dt>
        <dd><span ng-repeat="star in [1,2,3,4,5]" class="icon-star{{player.Potential<star?'-o':''}}"></span></dd>
        <dt translate>Common.value</dt>
        <dd>{{player.CurrentValue | currency}}</dd>
      </dl>
      <div class="player-attributes">
        <div ng-repeat="attribute in player.Attributes" class="player-attribute" title="{{'Common.'+attribute.Name|translate}}">
          <span class="att-title">{{attribute.Name && ('Common.'+attribute.Name+'_Acr'|translate) || '--'}}</span>
          <hr>
          <div class="att-bar">
            <div class="att-value-bar" style="height: {{attribute.Value}}%"></div>
            <div class="att-modifier" style="height: {{$ctrl.getEffectModifier(attribute.Id)}}%"></div>
          </div>
          <hr>
          <span class="att-value">{{attribute.Value}}</span>
        </div>
      </div>
      <button class="btn btn-block btn-sm btn-primary" ng-click="$ctrl.playerAuction(player)" translate>AuctionScreen.lblViewAuction</button>
    <!-- </div> -->
  </div>
</slick>

<div class="slick-nav auction-slick-nav" ng-if="$ctrl.players">
  <button type="button" class="btn btn-link slick-prev">«</button>
  <span class="dots"></span>
  <button type="button" class="btn btn-link slick-next">»</button>
</div>

<!-- <pre>{{$ctrl.players[0]|json}}</pre> -->
