.financial {
  padding: 15px;
  background-color: #cbdaef;
  min-height: 500px;

  > h2 {
    margin-top: 0;
  }

  .financial-menu {
    .icon-plus {
      font-size: 12px;
      margin-left: -5px;
    }
  }


  .financial-value {
    margin: 15px 0;
    h4 {
      margin: 0;
    }
    .financial-icon {
      margin-right: 10px;
    }
    .icon-arrow {
      width: 15px;
      display: inline-block;
    }
    .icon-arrow-up {
      color: green;
    }
    .icon-arrow-down {
      color: red;
    }
  }

  .week-balance {
    margin: 20px 0;
    border-top: 1px dotted;
    padding-top: 20px;

    h2 {
      margin: 0;
    }
    .financial-icon {
      margin-right: 5px;
    }
  }
}
