<h2>Estádio</h2>
<!-- <button class="pull-right btn btn-sm" ng-click="$ctrl.stadiumRecycle()" translate>StadiumPreview.lblReform</button> -->
<div class="submenu pull-right">
  <button class="btn btn-xs btn-primary" ng-click="$ctrl.stadiumRecycle()" title="{{'StadiumPreview.lblReform'|translate}}"><i class="icon-wrench"></i></button>
</div>
<div class="structure-stadium clearfix">
  <h4><button class="btn-link icon-pencil-square" ng-click="$ctrl.editName()"></button>{{$ctrl.stadium.Name}}</h4>
  <div class="clearfix">
    <img ng-src="{{$ctrl.stadium.Picture}}" class="stadium-picture">
    <div class="stadium-itens">
      <structure-item-list ng-repeat="list in ['Capacity', 'Atractivity', 'Rentability']" icon="{{['icon-user','icon-star','icon-usd'][$index]}}" >
        <structure-item ng-repeat="i in [0,1,2]"
          item="$ctrl.stadium[list+'Items'][i]"
          lock="$ctrl.stadium[list+'Slots'] <= i"
          on-select="$ctrl.stadiumReform(list, $index+1)" />
      </structure-item-list>
    </div>
  </div>

  <hr>

  <div class="row structure-stadium-details">
    <dl class="col-xs-6">
      <dt translate>StadiumPreview.lblConstructionDate</dt>
      <dd>{{$ctrl.stadium.ConstructionDate | date:'shortDate'}}</dd>
      <dt translate>StadiumPreview.lblGames</dt>
      <dd>{{$ctrl.stadium.TotalMatches}}</dd>
      <dt translate>StadiumPreview.lblPublicRecord</dt>
      <dd>{{$ctrl.stadium.AttendanceRecord | number}}</dd>
      <dt translate>StadiumPreview.lblProfitRecord</dt>
      <dd>{{$ctrl.stadium.RentabilityRecord | currency}}</dd>
    </dl>
    <dl class="col-xs-6 stadium-levels">
    <dt><i class="icon-user"></i> <span translate>StadiumPreview.lblCapacity</span></dt>
    <dd>{{$ctrl.stadium.Capacity | number}}</dd>
    <dt><i class="icon-star"></i> <span translate>StadiumPreview.lblAtractiveness</span></dt>
    <dd class="stadium-level"><span style="width: {{$ctrl.stadium.Atractivity}}%"></span></dd>
    <dt><i class="icon-usd"></i> <span translate>StadiumPreview.lblProfitability</span></dt>
    <dd class="stadium-level"><span style="width: {{$ctrl.stadium.Rentability}}%"></span></dd>
    </dl>
  </div>
</div>


<!-- <pre>{{$ctrl.stadium | json}}</pre> -->
