.structure-stadium {
  margin: auto;
  width: 710px;

  .stadium-picture {
    float: left;
    margin-right: 9px;
  }

  .stadium-itens {
    float: left;
    width: 400px;
    // margin-bottom: 10px;

    .stadium-item {
      // float: left;
      // width: 29%;
      border: 0;
      // box-sizing: border-box;
      // margin-left: 1%;
      background: white;
      height: 62px;
      width: 100%;
    }
  }

  hr {
    margin: 10px 0;
    border-color: #333;
  }

  .structure-stadium-details {
    dt {
      // width: 50%;
      float: left;
      clear: left;
      margin-bottom: 10px;

      i {
        border-right: 1px solid;
        padding-right: 5px;
        margin-right: 2px;
      }
    }
    dd {
      float: right;
      // text-align: right;
    }

    .stadium-levels {
      border-left: 1px solid;
      margin: 12px 0;
    }

    .stadium-level {
      background: #ccc;
      width: 80px;
      height: 4px;
      margin: 5px 0;
      border-radius: 3px;
      overflow: hidden;

      > span {
        display: block;
        height: 4px;
      }

      &.stadium-level-1 > span {
        background-color: #ff0000;
      }
      &.stadium-level-2 > span {
        background-color: #ff9900;
      }
      &.stadium-level-3 > span {
        background-color: #009900;
      }
    }
  }
}
