.structure-stadium {
  .stadium-picture {
    float: left;
    margin: 0 10px;
  }
  .stadium-itens {
    float: left;
    width: 400px;
    margin-bottom: 10px;

    .stadium-item {
      // float: left;
      // width: 29%;
      border: 0;
      // box-sizing: border-box;
      // margin-left: 1%;
      background: white;
      height: 62px;
      width: 100%;
    }



    // .item-equip {
    //   line-height: 16px;
    //   display: block;
    //   font-size: 14px;
    //   padding: 14px 0;
    //   box-sizing: border-box;
    //   height: 62px;
    //   cursor: pointer;
    // }
  }
}
