<img ng-src="https://o2games-golaco.s3.amazonaws.com/flags/{{$ctrl.match.HomeTeam.Flag}}.jpg"
  width="16" ng-if="$ctrl.match.HomeTeam.Flag" title="{{'Countries.'+$ctrl.match.HomeTeam.Flag|translate}}">
<div class="team-details -home" title="{{$ctrl.match.HomeTeam.Name}}" ng-click="$ctrl.openExternalPerfil($ctrl.match.HomeTeam.IdSocialNetwork)">
  <img ng-src="{{$ctrl.match.HomeTeam.Badge}}" width="24">
  <span class="team-acronym" title="{{$ctrl.match.HomeTeam.Name}}">{{$ctrl.match.HomeTeam.Acronym}}</span>
</div>
<span class="match-result">
  <span class="team-goals">{{$ctrl.match.Status ? $ctrl.match.HomeTeam.Goals : ''}}</span>
  x
  <span class="team-goals">{{$ctrl.match.Status ? $ctrl.match.VisitorTeam.Goals : ''}}</span>
</span>
<div class="team-details -visitor" title="{{$ctrl.match.VisitorTeam.Name}}" ng-click="$ctrl.openExternalPerfil($ctrl.match.VisitorTeam.IdSocialNetwork)">
  <span class="team-acronym text-right">{{$ctrl.match.VisitorTeam.Acronym}}</span>
  <img ng-src="{{$ctrl.match.VisitorTeam.Badge}}" width="24">
</div>
<img ng-src="https://o2games-golaco.s3.amazonaws.com/flags/{{$ctrl.match.VisitorTeam.Flag}}.jpg"
  width="16" ng-if="$ctrl.match.VisitorTeam.Flag" title="{{'Countries.'+$ctrl.match.VisitorTeam.Flag|translate}}">
