match-element {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px 0px;
  // width: 360px;
  // margin: auto;

  > * {
    // flex: 1;
    // width: 80px;
  }

  .team-details {
    // margin: 0 10px;

    > * {
      display: inline-block;
      margin: 0 5px;
      line-height: 24px;
    }

    &.is-me {
      pointer-events: none;
    }
    &:not(.is-me) {
      cursor: pointer;
    }
  }

  .team-acronym {
    width: 50px;
    // display: inline-block;
  }

  .match-result {
    text-align: center;

    background-color: #333;
    color: white;
    padding: 3px 5px 1px;
    font-size: 16px;

    .team-goals {
      width: 20px;
      display: inline-block;
    }
  }

  &.is-me {
    background: #ccf;
  }
}
