.ngdialog.ngdialog-bug-report {

  .ngdialog-content {
    // width: 650px;
    padding: 30px 50px;
    text-align: center;
  }

  p {
    font-size: 14px;
  }

  footer {
    text-align: right;
  }

}
