<div class="morale-itens">
  <div ng-repeat="item in $ctrl.teamPlayers.Items" class="morale-item">
    <img ng-src="{{item.Picture}}">
  </div>
  <div ng-repeat="item in $ctrl.teamPlayers.Items" class="morale-item">
    <p>{{'Items.'+item.Name|translate}}</p>
  </div>
  <div ng-repeat="item in $ctrl.teamPlayers.Items" class="morale-item">
    <hr>
    <p><i class="icon-up-thin"></i> +{{item.Effect}}</p>
    <hr>
    <p><i class="icon-credit-card"></i> {{item.Cost}}</p>
    <hr>
    <button class="btn btn-icon btn-primary" ng-click="$moraleCtrl.moraleBoost(item.Id)"><i class="icon-up-thin"></i></button>
  </div>
</div>
