.ngdialog.ngdialog-morale-recovery {
  h2,
  h3,
  h4,
  h5 {
    margin: 0;
  }

  .ngdialog-content {
    // width: 750px;
    padding: 30px 50px;
    background-color: white;
    border: 3px solid #0065b4;
  }

  .morale-itens {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
  }

  .morale-item {
    text-align: center;
    // flex: 1;
    // margin: 0 15px;
    width: 100px;
    overflow: hidden;

    p {
      font-size: 14px;
      line-height: 18px;
      margin: 0;
    }

    i {
      margin-right: 5px;
    }
    p > .icon-up-thin{
      background:#ffffff;
      border: 1px solid #ffffff;
      border-radius: 3px;
      padding: 5px 8px;
      color: #4e5667;
      &:hover{
        background:#ffffff;
        color: #5ca90b;
      }
    }
    .icon-up-thin{
      background:#0065b4;
      border: 1px solid #0065b4;
      border-radius: 3px;
      padding: 5px 8px;
      color: #ffffff;
      &:hover{
        background:#ffffff;
        color: #0065b4;
      }
    }

    .icon-credit-card{
      &:before{
        color: #DAA520;
      }
    }
  }
  .ngdialog-close{
    border: none;
    box-shadow: none;
    padding: 0;
    outline: none;
    &:before{
      color: #0b62a9;
    }
    &:hover{
      border: none;
    }
  }
}