<div class="auction">
  <div class="pull-right auction-menu submenu">
    <button class="btn btn-icon btn-primary" ng-click="$ctrl.auctionSearch()" title="{{'AuctionScreen.lblBuyPlayer'|translate}}"><i class="icon-player-bid"></i></button>
  </div>
  <h2 translate>AuctionScreen.lblTitle</h2>
  <div class="row">
    <div class="col-xs-6">
      <h4 translate>AuctionScreen.lblPlayerForSalle</h4>
      <div class="text-center no-auction" ng-if="!$ctrl.myPlayersSold.length">
        <h4 translate>AuctionScreen.lblNoSaleTitle</h4>
        <i class="icon-player-sale"></i>
        <p translate>AuctionScreen.lblNoSaleDesc</p>
      </div>
      <div ng-if="$ctrl.myPlayersSold.length">
        <slick
          infinite="false"
          dots="true"
          slides-to-show="1" slides-to-scroll="1" rows="3"
          prev-arrow=".auction-my-players-nav .slick-prev"
          next-arrow=".auction-my-players-nav .slick-next"
          settings="{appendDots:'.auction-my-players-nav .dots', dotsClass: 'list-inline'}"
          class="my-players">
          <auction-player player="player" ng-repeat="player in $ctrl.myPlayersSold" />
        </slick>
        <div class="slick-nav auction-my-players-nav">
          <button type="button" class="btn btn-link slick-prev">«</button>
          <span class="dots"></span>
          <button type="button" class="btn btn-link slick-next">»</button>
        </div>
      </div>
    </div>
    <div class="col-xs-6">
      <h4 translate>AuctionScreen.lblMyBids</h4>
      <div class="text-center no-auction" ng-if="!$ctrl.allBids.length">
        <h4 translate>AuctionScreen.lblNoPurchaseTitle</h4>
        <i class="icon-player-bid"></i>
        <p translate>AuctionScreen.lblNoPurchaseDesc</p>
      </div>
      <auction-player player="player" type="bid" ng-repeat="player in $ctrl.allBids" ng-click="$ctrl.playerAuction(player)" />
    </div>
  </div>
</div>
