.ngdialog.ngdialog-input-popup {

  .ngdialog-content {
    // width: 750px;
    padding: 30px 25px;
  }

  h2 {
    margin-top: 0;
  }

  .ngdialog-buttons {
    margin-top: 15px;
    text-align: right;
  }

}
