html,
body {
  min-height: 700px;
  height: 100%;
  min-width: 768px;
}

body {
  // font-family: arial, verdana;
  font-family: 'Montserrat', sans-serif;
}
::-webkit-scrollbar-track {
    background-color: #FFFFFF;
}
::-webkit-scrollbar {
    width: 6px;
    background: #3cc51c;
}
::-webkit-scrollbar-thumb {
    background: #3cc51c;
}
// centraliza verticalmente os icones
[class^="icon-"],
[class*=" icon-"] {
  vertical-align: middle;
  line-height: 1;
  &:before {
    vertical-align: text-top;
  }
}

a {
  text-decoration: none;

  &.active {
    text-decoration: underline;
  }
}

.ngdialog.ngdialog-theme-default {
  overflow: auto;
  // padding: 0;
  // display: flex;
  // align-items: center;
}

.dw-loading.dw-loading-overlay {
  z-index: 10001;
}

.slick-nav {
  text-align: center;
  margin: 20px 0 0;

  .btn {
    outline: none;
  }

  .dots {
    display: inline-block;
    margin: 0 5px;
    button {
      // appearance: none;
      border: 0;
      line-height: 30px;
      width: 30px;
      background: white;
      outline: none;
    }
    .slick-active button {
      background: #ddd;
      font-weight: bold;
    }
  }

}

label {
  font-weight: 500;
}
