body {
  font-family: arial, verdana;
}

// centraliza verticalmente os icones
.icon {
  vertical-align: middle;
  &:before {
    vertical-align: text-top;
  }
}

a {
  text-decoration: none;

  &.active {
    text-decoration: underline;
  }
}
