<div class="menu">
  <ul>
    <li><a ui-sref="app.itens" ui-sref-active="active">itens</a></li>
    <li><a ui-sref="app.main" ui-sref-active="active">meu time</a></li>
    <li><a ui-sref="app.structure" ui-sref-active="active">estrutura</a></li>
    <li><a ui-sref="app.players" ui-sref-active="active">jogadores</a></li>
    <li><a ui-sref="app.training" ui-sref-active="active">treinamento</a></li>
    <li><a ui-sref="app.escalacao" ui-sref-active="active">escalação</a></li>
    <li><a ui-sref="app.competition" ui-sref-active="active">competição</a></li>
    <li><a ui-sref="app.calendar" ui-sref-active="active">Calendário</a></li>
    <li class="divisor" ui-sref-active="active">|</li>
    <li><a href="#" ui-sref-active="active">ajuda</a></li>
  </ul>
</div>
