<div class="menu">
  <ul>
    <li><a ui-sref="app.itens" ui-sref-active="active" title="Menu.items" ><i class="icon-itens"></i></a></li>
    <li><a ui-sref="app.main" ui-sref-active="active" title="Menu.myTeam" ><i class="icon-main"></i></a></li>
    <li><a ui-sref="app.financial" ui-sref-active="active" title="Menu.finance" ><i class="icon-financial"></i></a></li>
    <li><a ui-sref="app.structure" ui-sref-active="active" title="Menu.structures" ><i class="icon-structure"></i></a></li>
    <li><a ui-sref="app.players" ui-sref-active="active" title="Menu.players" ><i class="icon-players"></i></a></li>
    <li><a ui-sref="app.training" ui-sref-active="active" title="Menu.training" ><i class="icon-training"></i></a></li>
    <li><a ui-sref="app.escalacao" ui-sref-active="active" title="Menu.formation" ><i class="icon-tactic"></i></a></li>
    <li><a ui-sref="app.auction" ui-sref-active="active" title="Menu.auction" ><i class="icon-auction"></i></a></li>
    <li><a ui-sref="app.competition" ui-sref-active="active" title="Menu.matches" ><i class="icon-competition"></i></a></li>
    <li><a ui-sref="app.calendar" ui-sref-active="active" title="Menu.calendar" ><i class="icon-calendar"></i></a></li>
    <li><a ui-sref="app.hill" ui-sref-active="active" title="Menu.kingOfTheHill" ><i class="icon-hill"></i></a></li>
    <li><a ui-sref="app.ranking" ui-sref-active="active" title="Menu.rankings" ><i class="icon-ranking"></i></a></li>
    <li class="divisor"></i>
    <li><a ui-sref="app.messages" ui-sref-active="active" title="Menu.messages" ><i class="icon-messages"></i></a></li>
    <li><a href="#" ui-sref-active="active" title="Menu.help" ><i class="icon-help"></i></a></li>
  </ul>
</div>
