<div class="menu">
  <ul>
    <li><a ui-sref="app.itens" ui-sref-active="active">Itens</a></li>
    <li><a ui-sref="app.main" ui-sref-active="active">Meu Time</a></li>
    <li><a ui-sref="app.structure" ui-sref-active="active">Estrutura</a></li>
    <li><a ui-sref="app.players" ui-sref-active="active">Jogadores</a></li>
    <li><a ui-sref="app.training" ui-sref-active="active">Treinamento</a></li>
    <li><a ui-sref="app.escalacao" ui-sref-active="active">Escalação</a></li>
    <li><a ui-sref="app.auction" ui-sref-active="active">Leilão</a></li>
    <li><a ui-sref="app.competition" ui-sref-active="active">Competição</a></li>
    <li><a ui-sref="app.calendar" ui-sref-active="active">Calendário</a></li>
    <li><a ui-sref="app.hill" ui-sref-active="active">Rei da Mesa</a></li>
    <li><a ui-sref="app.ranking" ui-sref-active="active">Ranking</a></li>
    <li class="divisor" ui-sref-active="active">|</li>
    <li><a ui-sref="app.messages" ui-sref-active="active">Mensagens</a></li>
    <li><a href="#" ui-sref-active="active">Ajuda</a></li>
  </ul>
</div>
